#### Django library
Django==3.1.11
#### Extension for command lines
django-extensions==3.1.3
#### Compress SCSS/SASS files in CSS
django-compressor==2.4.1
django-libsass==0.8
django-sass-processor==1.0.1
#### Library to build the HTML tables
django-tables2==2.4.0
#### Python PostgreSQL library
psycopg2-binary==2.8.6
#### Django REST API libraries
djangorestframework==3.12.4
django-cors-headers==3.7.0
#### Python & Django Elasticsearch libraries
elasticsearch==7.13.0
elasticsearch-dsl==7.3.0
django-elasticsearch-dsl==7.2.0
#### Version checking library for Django
django-nine==0.2.4
