<h3 class="mt-5" id="dl_ftp_metadata">PGS Catalog Metadata</h3>

<div class="ml-3">
  <p>Bulk download of the entire PGS Catalog's metadata, describing all PGS in terms of their publication source, samples used for development/evaluation, and related performance metrics.<a class="btn btn-pgs pgs_no_icon_link ml-2" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata.xlsx" target="_blank" download><span class="fas fa-download"></span> Download Metadata file<span class="badge badge-pgs-white ml-2">.xlsx</span></a></p>
  <p>The bulk download contains a single Excel file with multiple sheets describing each of the data types. The sheets are also provided as individual <code>.csv</code> files for easier import in analysis tools, and are provided on the FTP in the <code>metadata/</code> folder.</p>
  <div class="table-responsive">
    <table class="table table-striped table_pgs_auto">
      <thead class="thead_pgs">
        <tr>
          <th>Worksheet</th>
          <th>Description</th>
          <th><span class="fas fa-download"></span> Download Sheet<span class="badge badge-pgs-white ml-2">.csv</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Readme</td><td>PGS Catalog Release Date and Summary Information.</td><td>-</td>
        </tr>
        <tr>
          <td>Publications</td><td>Lists the publication sources for the PGS and PGS evaluations in the catalog.</td>
          <td><a class="pgs_no_icon_link file_link" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_publications.csv" title="Click to download all PGS Publications" download></a></td>
        </tr>
        <tr>
          <td>EFO Traits</td><td>Lists the ontology-mapped traits information for all PGS in the catalog.</td>
          <td><a class="pgs_no_icon_link file_link" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_efo_traits.csv" title="Click to download all PGS Traits" download></a></td>
        </tr>
        <tr>
          <td>Scores</td><td>Lists all PGS scores and their associated metadata.</td>
          <td><a class="pgs_no_icon_link file_link pgs_helptip" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_scores.csv" title="Click to download all PGS Score metadata" download></a></td>
        </tr>
        <tr>
          <td>Score Development Samples</td><td>Lists the samples used to create the PGS: samples used to discover the variant associations (GWAS), samples used for score development/training.</td>
          <td><a class="pgs_no_icon_link file_link" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_score_development_samples.csv" title="Click to download all PGS Score development samples" download></a></td>
        </tr>
        <tr>
          <td>Performance Metrics</td><td>Lists all performance metrics and the associated PGS Scores and Publications.</td>
          <td><a class="pgs_no_icon_link file_link" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_performance_metrics.csv" title="Click to download all PGS Performance metrics" download></a></td>
        </tr>
        <tr>
          <td>Evaluation Sample Sets</td><td>Describes the samples used to evaluate PGS performance (refferenced as Polygenic Score Sample Sets (PSS).</td>
          <td><a class="pgs_no_icon_link file_link" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_evaluation_sample_sets.csv" title="Click to download all PGS Evaluation sample sets" download></a></td>
        </tr>
        <tr>
          <td>Cohorts</td><td>Lists all the cohorts used in the different samples.</td>
          <td><a class="pgs_no_icon_link file_link pgs_helptip" href="{{ pgs_ftp_http_root }}/metadata/pgs_all_metadata_cohorts.csv" title="Click to download all PGS Cohorts metadata" download></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
