{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}PGS Catalog Search{% endblock %}

{% block content %}

  <script type="text/javascript">
    $(document).ready(function() {
      id = $('.search_facet.selected').attr('id');
      if (id) {
        type = id.replace('_facet', '');
        if (type != 'all') {
          entry_class = type+'_entry';
          $('.'+entry_class).show();
          $('.pgs_result').not('.'+entry_class).hide();
        }
      }
    });
  </script>

  <nav aria-label="You are here:">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
      <li class="breadcrumb-item"><a href="./">Search</a></li>
      {% if query %}
        <li class="breadcrumb-item">{{ query }}</li>
      {% endif %}
    </ol>
  </nav>

  {% if not query %}
    <h2>Search</h2>
    <h5><i class="fas fa-info-circle pgs_color_1 mr-2"></i>Please enter a search term in the <i>"Search..."</i> form above, on the page header.</h5>
  {% else %}
    <h2 class="search_result_header pb-2">Search results for "<span class="pgs_color_1">{{ query }}</span>"</h2>
    {% if facets_count %}
      <div class="search_facet_container mt-4">

        {% if facets_count > 1 %}
          <div class="search_facet selected" id="all_facet">
            <i class="fas fa-check-circle"></i>
            <div>All results</div>
            <span class="badge badge-pill badge-pgs">{{ all_results|length }}</span>
          </div>
        {% endif %}

        {% if scores_count %}
          {% if facets_count > 1 %}
            <div class="search_facet" id="scores_facet">
              <i class="far fa-circle"></i>
          {% else %}
            <div class="search_facet selected" id="scores_facet">
              <i class="fas fa-check-circle"></i>
          {% endif %}
              <span class="search_facet_type search_facet_type_3"></span>
              <div>Scores</div>
              <span class="badge badge-pill badge-pgs">{{ scores_count }}</span>
            </div>
        {% endif %}

        {% if efo_traits_count %}
          {% if facets_count > 1 %}
            <div class="search_facet" id="efo_traits_facet">
              <i class="far fa-circle"></i>
          {% else %}
            <div class="search_facet selected" id="efo_traits_facet">
              <i class="fas fa-check-circle"></i>
          {% endif %}
              <span class="search_facet_type search_facet_type_1"></span>
              <div>Traits</div>
              <span class="badge badge-pill badge-pgs">{{ efo_traits_count }}</span>
            </div>
        {% endif %}

        {% if publications_count %}
          {% if facets_count > 1 %}
            <div class="search_facet" id="publications_facet">
              <i class="far fa-circle"></i>
          {% else %}
            <div class="search_facet selected" id="publications_facet">
              <i class="fas fa-check-circle"></i>
          {% endif %}
              <span class="search_facet_type search_facet_type_2"></span>
              <div>Publications</div>
              <span class="badge badge-pill badge-pgs">{{ publications_count }}</span>
            </div>
        {% endif %}
      </div>

      {% if all_results %}
        <div class="table_results pt-5" id="all_results">
          {% for result in all_results%}
            {{ result|safe }}
          {% endfor %}
        </div>
      {% endif %}

    {% else %}
      <h5><i class="fas fa-info-circle pgs_color_1 mr-2"></i>No results found!</h5>
    {% endif %}
  {% endif %}
{% endblock %}
