<p>The PGS Catalog development is led by <a href="{{ ebi_url }}/about/people/samuel-lambert">Samuel Lambert</a>
    under the supervision of <a href="https://www.inouyelab.org/home/people">Michael Inouye</a> (<a href="https://sysgenresearch.org/">University of Cambridge & Baker Institute</a>)
    in collaboration with <a href="{{ hdr_uk_cam_url }}">Health Data Research - UK</a> (Laurent Gil)
    and the <a href="{{ ebi_url }}/gwas/">EBI Samples, Phenotypes and Ontologies team / NHGRI-EBI GWAS Catalog</a> (Helen Parkinson, Aoife McMahon, Laura Harris).</p>
<p>The Catalog is under active development, and we continue to add new features and curate new data. If you use the Catalog or Calculator in your research we ask that you cite our below flagship publications:
<div class="clearfix mb-3">
      <div class="highlight_content">
          {% for c in pgs_citations %}
              <div>
                <p>{{ c.authors }}</p>
                <p><u>{{ c.title }}</u></p>
                <p><span class="with_sep_right"><i>{{ c.journal }}</i></span>doi: <a href="https://doi.org/{{ c.doi }}">{{ c.doi }}</a> ({{ c.year }}).</p>
              </div>
          {% if not forloop.last %}
              <hr>
          {% endif %}
          {% endfor %}
      </div>
</div>
<p>Individual PGS obtained from the database should also be cited appropriately, and used in accordance with any licensing restrictions set by the authors (see our <a href="{{ terms_of_use }}">Terms of Use</a> for more information).</p>