{% load static %}
  <footer class="footer font-small pt-3">

    <div class="footer_first_row">
      <div>Supported by:</div>
      <div>
        <a class="pgs_no_icon_link" href="{{ uoc_url }}"><img class="img-fluid pgs_small_icons" src="{% static 'catalog/imgs/UofCambridge_small.png' %}" alt="University of Cambridge"></a>
      </div>
      <div >
        <a class="pgs_no_icon_link" href="{{ ebi_url }}" style="link:none"><img class="img-fluid pgs_small_icons" src="{% static 'catalog/imgs/EMBL_EBI_small.png' %}" alt="EMBL-EBI"></a>
      </div>
      <div>
        <a class="pgs_no_icon_link" href="{{ hdr_uk_cam_url }}"><img class="img-fluid pgs_small_icons" src="{% static 'catalog/imgs/HDR-UK_small.png' %}" alt="HDR-UK (Cambridge)"></a>
      </div>
      <div>
        <a class="pgs_no_icon_link" href="{{ baker_url }}"><img class="img-fluid pgs_small_icons" src="{% static 'catalog/imgs/Baker_Logo_small.png' %}" alt="Baker Heart and Diabetes Institute"></a>
      </div>
      <div>
        <a class="pgs_no_icon_link" href="{{ nhgri_url }}"><img class="img-fluid pgs_small_icons" src="{% static 'catalog/imgs/NHGRI_Logo_small.png' %}" alt="National Human Genome Research Institute"></a>
      </div>
      <div>
        <div class="pgs_social">
          <a class="pgs_no_icon_link fas fa-envelope" title="Contact us" href="mailto:{{ pgs_contact }}" target="_blank"></a>
            <a class="pgs_no_icon_link fab fa-twitter" title="Twitter {{ pgs_twitter }}" href="{{ pgs_twitter_url }}" target="_blank"></a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <span>Copyright © EMBL-EBI {% now "Y" %}</span><span><a class="pgs_no_icon_link" href="{{ ebi_url }}">EMBL-EBI</a> is an Outstation of the <a class="pgs_no_icon_link" href="https://www.embl.org/">European Molecular Biology Laboratory</a></span><span><a class="pgs_no_icon_link" href="{{ ebi_url }}/about/privacy">Privacy</a></span><span><a class="pgs_no_icon_link" href="{{ ebi_url }}/about/cookies">Cookies</a></span><span><a class="pgs_no_icon_link" href="{{ terms_of_use }}">Terms of use</a></span>
    </div>
    <!-- Copyright -->
  </footer>

  {% if is_pgs_live_site == 'True' %}
    <!-- Google Analytics details... -->
    <script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-145149243-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9B3G71V98V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9B3G71V98V');
    </script>
  {% endif %}
