{% load static %}
  <div>
    <nav class="navbar fixed-top navbar-expand-lg">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="../../" data-original-title="" title="Polygenic Score Catalog">
            <img src="{% static 'catalog/imgs/PGS_Logo.png' %}" style="height:60px"/> <span>PGS Catalog</span>
        </a>

        <!--/.navbar-collapse - begin -->

        <!-- Horizontal menu -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="../../">Home</a></li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Browse</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../../browse/all/">Polygenic Scores</a>
                  <a class="dropdown-item" href="../../browse/traits/">Traits</a>
                  <a class="dropdown-item" href="../../browse/studies/">Publications</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Downloads</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"  href="../../downloads/">Data Downloads</a>
                  <a class="dropdown-item"  href="../../rest/">REST API</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Documentation</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../../about/">About</a>
                  <a class="dropdown-item" href="../../docs/">Data Description</a>
                </div>
              </li>
            </ul>
          </div>
        <!--/.navbar-collapse - end -->

        <div class="search_box">
          <form class="input-group search_form" action="/search/search" method="get">
            <input class="form-control" id="q" name="q" type="text" placeholder="Search...">
            <div class="input-group-append">
              <button type="submit" value="Submit" class="btn btn-pgs pgs_no_icon_link" >
                <span class="fa fa-search"></span>
              </button>
            </div>
          </form>
          <div class="search_examples">
            {{ pgs_search_examples|safe }}
          </div>
        </div>

    </nav>
  </div>
  <div class="search_box_2" style="display:none">
    <form class="input-group search_form" action="/search/search" method="get">
      <input class="form-control" id="q" name="q" type="text" placeholder="Search...">
      <div class="input-group-append">
        <button type="submit" value="Submit" class="btn btn-pgs pgs_no_icon_link" >
          <span class="fa fa-search"></span>
        </button>
      </div>
    </form>
    <div class="search_examples" >
      Examples: {{ pgs_search_examples|safe }}
    </div>
  </div>
