 @import 'catalog/pgs';

.btn-primary {
    @extend .btn-pgs;
}

h1 {
    @extend h2;
}

.button-form {
    float: right;
    margin-right: 1em;
}

.pull-right {
    float: right!important;
}

ul.breadcrumb {
    margin: 90px 0 10px 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

// Removing external link icon in pagination nav bar
// ul.pagination > li > a::after {
//     content: '' !important
// }

// External links in browsable JSON response
// div.response-info > pre.prettyprint > a:after {
//     content: '' !important;
// }
