{% extends 'curation_tracker/litsuggest_base.html' %}

{% block content %}
  <div id="content-main">
    <div>
      <h2 style="margin-bottom:1rem">LitSuggest file upload</h2>
      <form action="./confirm_formset" method="POST" enctype="multipart/form-data">
      <div>
          {{ comment_form.as_p }}
          <br />
          {% csrf_token %}
          <div class="submit-row">
            <input type="submit" value="Confirm" class="default" style="float:left; font-weight: bold; margin-right: 5px">
            <input class="button pgs-admin-cancel" type="button" value="Cancel" />
          </div>
          <div class="help">(Studies with errors and tagged as 'Not PGS' won't be imported)</div>
      </div>
      <div>
        <h2>Import Preview:</h2>
        <table class="litsuggest-import-table">
          <tr>
            <th>PMID</th>
            <th>Triage Decision</th>
            <th>Triage Note</th>
            <th>Study Name</th>
            <th>Title</th>
            <th>Journal</th>
            <th>Eligibility</th>
            <th>Develop new score</th>
            <th>Eval score</th>
            <th>Notes</th>
            <th>Curation Status</th>
            <th>1st Level Curation Status</th>
          </tr>
          {{ formset.management_form }}
          {% for preview_form in formset %}
          <tr>
            <td>{{preview_form.triage_info.PMID}}{{preview_form.PMID}}{{preview_form.doi}}{{preview_form.year}}{{preview_form.publication_date}}</td>
            <td>{{preview_form.triage_info.triage_decision}}</td>
            <td>{{preview_form.triage_info.triage_note}}</td>
            <td>{{preview_form.study_name}}{{preview_form.study_name.errors}}</td>
            <td>{{preview_form.title}}</td>
            <td>{{preview_form.journal}}</td>
            <td>{{preview_form.eligibility}}</td>
            <td>{{preview_form.eligibility_dev_score}}</td>
            <td>{{preview_form.eligibility_eval_score}}</td>
            <td>{{preview_form.eligibility_description}}</td>
            <td>{{preview_form.curation_status}}</td>
            <td>{{preview_form.first_level_curation_status}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="submit-row">
        <input type="submit" value="Confirm" class="default" style="float:left; font-weight: bold; margin-right: 5px">
        <input class="button pgs-admin-cancel" type="button" value="Cancel" />
      </div>
      <div class="help">(Studies with errors and tagged as 'Not PGS' won't be imported)</div>
      {% if skipped_publications %}
      <div>
        <h2>Ignored Publications:</h2>
        <table>
          <tr>
            <th>PMID</th>
            <th>Comment</th>
          </tr>
          {% for skipped_publi in skipped_publications %}
          <tr>
            <td>{{skipped_publi.model.PMID}}</td>
            <td>{{skipped_publi.skip_reason|default:""}}{{skipped_publi.error|default:""}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
    </form>
    </div>
  </div>

{% endblock %}
