{% extends 'admin/base.html' %}

{% block content %}
  <div id="content-main">
    <div>
      <h2 style="margin-bottom:1rem">LitSuggest file upload</h2>
      <div>
        <form action="." method="POST" enctype="multipart/form-data">
          {{ form.as_p }}
          <br />
          {% csrf_token %}
          <div class="submit-row" style="margin-bottom: 20px">
            <input type="submit" value="Preview" class="default" style="float:left; margin-right: 5px">
            <input class="button" type="button" onclick="history.back()" value="Cancel" />
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div>
      <h3>TSV file required columns (any order):</h3>
      <ul>
        <li><b>pmid</b> (required): Valid PubMed ID</li>
        <li><b>triage.decision</b> (required): "New PGS", "TBD", "PGS Relevant" or "Not PGS"</li>
        <li><b>triage.note</b> (recommended): Curation comment</li>
      </ul>
    </div>
  </div>

{% endblock %}
