{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'curation_tracker/pgs_edit_curation_annotation_addon.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" crossorigin="anonymous"/>
<link rel="stylesheet" href="{% static 'curation_tracker/pgs_admin.css' %}">
{% endblock %}

{% block object-tools-items %}
    <li><a href="" class="historylink" onclick="requestAuthorData(); return false;">Request Author Data</a></li>
    {{ block.super }}
{% endblock %}

