{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}PGS Catalog - Curation Release Ready{% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">PGS Catalog</a></li>
        <li class="breadcrumb-item">Curation Release Ready</li>
      </ol>
    </nav>

    <h2>Curation Release Ready</h2>

    <section>
      <h3>List of studies ready for release</h3>
      {% render_table table %}
    </section>

{% endblock %}
