{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}PGS Catalog - Curation Release Ready{% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">PGS Catalog</a></li>
        <li class="breadcrumb-item">Curation Release Ready</li>
      </ol>
    </nav>

    <h2 class="pgs_page_title">Curation Release Ready</h2>

    <!-- Summary -->
    <section>
      <div class="content_container">
        <div class="table-of-contents">
          <nav role="navigation">
            <h5>Content</h5>
            <ul>
              <li><a class="mr-2" href="#import_ready">Studies ready for <b>import</b></a> <span class="badge badge-pill badge-pgs">{{ studies_to_import_count }}</span></li>
              <li class="mb-1"><a class="mr-2" href="#scores">Studies ready for <b>release</b></a> <span class="badge badge-pill badge-pgs">{{ studies_to_release_count }}</span></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section>
      <h3 id="import_ready">Studies ready for <b>import</b> (<span class="pgs_color_1">{{ studies_to_import_count }}</span>)</h3>
      {% if table_to_import %}
        {% render_table table_to_import %}
      {% else %}
        <div>No studies ready to import</div>
      {% endif %}
    </section>

    <section>
      <h3 id="release_ready">Studies ready for <b>release</b> (<span class="pgs_color_1">{{ studies_to_release_count }}</span>)</h3>
      {% if table_to_release %}
        {% render_table table_to_release %}
      {% else %}
        <div>No studies ready to release</div>
      {% endif %}
    </section>

{% endblock %}
