/* General CSS */

/* Variables */

$hdr_blue: #475DA7;   /* HDR blue */
$hdr_green: #3DB28C;  /* HDR green */
$pgs_petrol: #007C82; /* EBI petrol */
$pgs_colour_1: $pgs_petrol;//#8ac832;//#119da4;//#1178a4; // Main colour
$pgs_colour_1_lighter: #00adb5;//#00b3b3;//#8ac832;//#00b3b3;//#1592c8;
$pgs_colour_2: #BE4A81;//#B72E6C;//#3DB28C;//#BE4A81;//#3DB28C;
$pgs_colour_2_lighter: #e83e8c;
$pgs_dark0: #000;
$pgs_dark2: #222; // Main font-color
$pgs_dark3: #333; // Header & footer background-color
$pgs_dark5: #555;
$pgs_darkA: #AAA;
$pgs_darkC: #CCC;
$pgs_grey: #D2D8DE;
$pgs_light_grey: #E9ECEF;
$pgs_light_grey2: #FAFAFA;
$pgs_light_grey3: #FEFEFE;
$pgs_note_title: #F00;
$pgs_dev: #577284;
$pgs_facet_1: $pgs_colour_2;
$pgs_facet_2: #f58f22;

$header_height_with_margin: 97px;
$header_height_with_margin_mobile: $header_height_with_margin + 58px;
$footer_height: 97px;


/* CSS mixin */

@mixin transform($property) {
  transform: $property;
  -ms-transform: $property; /* IE 9 */
  -moz-transform: $property; /* Firefox */
  -webkit-transform: $property; /* Safari and Chrome */
  -o-transform: $property; /* Opera */
}

/* CSS Transitions */

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* CSS classes */

html{
  height: 100%;
}

body {
  //font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-family: "Helvetica", "Helvetica Neue", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5;
  color: $pgs_dark2;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: $pgs_colour_1;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: $pgs_dark2;
  border-bottom: 1px dotted $pgs_colour_1_lighter;
  &:hover {
    color: $pgs_colour_1;
    text-decoration: none;
    border-bottom: 1px dotted $pgs_colour_2;
  }
}

u {
  white-space: nowrap;
}

/* Main classes */

h2 {
  .pgs_title {
    color:$pgs_dark2;
    font-weight: bold;
  }
}

.pgs_title_left {
  float: left;
  margin-right: 4rem;
}
.pgs_buttons_right {
  float:right;
  div {
    float:left;
  }
}

.container-fluid {
  padding-left: 3rem;
  padding-right:3rem;
}
.container-extra {
  padding-top: $header_height_with_margin;
  margin-bottom:-$footer_height;
  &:after {
    content: "";
    display: block;
    height: $footer_height;
  }
}

.clearfix {
  &:before, .clearfix:after {
    content:" ";
    display:table;
  }
  &:after {
    content:" ";
    display:table;
    clear:both;
  }
}

/* Navbar and horizontal menu */
.navbar {
  background-color: $pgs_dark3;
  padding: 0rem 3rem;
  background-image: url("/static/catalog/imgs/pgs_header_background.png");
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
    justify-content: space-around;
}

.navbar-brand {
  color: #FFF;
  font-size: 28px;
  border:none;
  margin-right:2rem;
  span {
    padding-left:5px;
  }
  &:hover, &:active {
    color: $pgs_colour_1_lighter;
    border:none;
  }
}

.search_box {
  margin-left:auto;
  color:#FFF;
  .search_form {
    .form-control {
      font-size: 14px;
      height:30px;
    }
    button {
      font-size: 14px;
      padding:4px 12px;
      height:30px;
    }
  }
  .search_examples {
    color:#FFF;
    display:block;
    a {
      color:#FFF !important;
      font-size:10px;
      cursor:pointer;
    }
  }
}

.nav-item {
  border-left: 1px solid #FFF;
  &:last-child {
    border-right:1px solid #FFF;
  }
  &:hover {
    background-color: $pgs_colour_1;//$pgs_dark0;
  }
  .active {
    background-color: $pgs_dark3;
  }
}

.navbar-toggler {
  border-color: #FFF;
  background-color: $pgs_dark3;
  padding:8px;
  font-size: 20px;
  &:active {
    outline: none;
    box-shadow: none;
    background-color: $pgs_dark0;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-collapse {
  max-width: 500px;
}
.navbar-nav {
  margin-right: 2rem;
  .nav-link {
    padding: 0.3rem 0.7rem !important;
    font-weight: bold;
    color: #FFF;
    border-bottom: none;
    &:hover, &:active, &:focus {
      color: #FFF;
      border-bottom: none;
    }
  }
}

.search-bar {
  max-width: 250px;
  width:100%;
}
.search_result_header {
  border-bottom:1px solid $pgs_dark2;
}
.search_facet_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search_facet {
  height:31px;
  padding: 0.4rem 0.6rem;
  background-color: #FFF;
  color: $pgs_colour_1;
  border: 1px solid $pgs_colour_1;
  border-radius: 8px;
  margin-right: 1.5rem;
  margin-bottom: 4px;
  vertical-align: middle;
  cursor: pointer;
  > i {
    font-size: 18px;
    height:18px;
    vertical-align: top;
    padding-right: 8px;
  }
  > div {
    display:inline;
    padding-right: 4px;
    line-height: 18px;
    vertical-align: top;
  }
  > span {
    vertical-align: top;
  }
  &:hover {
    background-color: $pgs_colour_1_lighter !important;
    border-color: $pgs_colour_1_lighter;
    color: #FFF;
    > span {
      background-color: #FFF;
      color: $pgs_colour_1_lighter;
    }
  }
}
.search_facet.selected {
  background-color: $pgs_colour_1;
  color: #FFF;
  > span {
    vertical-align: top;
    background-color: #FFF;
    color: $pgs_colour_1;
  }
}
.search_facet_type {
  font-weight:bold;
  display: inline-block;
  font-size:85%;
  color: white !important;
  border-radius: 50%;
  line-height: 1.5em;
  width: 1.5em;
  text-align: center;
}
.search_facet_type_1 {
  background-color:$pgs_facet_1 !important;
  &::before {
    content:"T";
  }
}
.search_facet_type_2 {
  background-color:$pgs_facet_2 !important;
  &::before {
    content:"P";
  }
}
.result_facet_type {
  font-weight:bold;
  font-size:18px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.result_facet_type_1 {
  background-color:$pgs_facet_1;
  padding: 4px 9px;
  &::before {
    content:"T";
  }
}
.result_facet_type_2 {
  background-color:$pgs_facet_2;
  padding: 4px 8.5px;
  &::before {
    content:"P";
  }
}
/* Dropdown menu */
.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}
.dropdown-menu {
  margin-top: 0px;
  margin-left: -1px;
  border-radius: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border:1px solid #FFF;//$pgs_colour_1;
  padding: 0px;
  a:hover {
    background-color: $pgs_colour_1;
    color: #FFF;
    border:none;
  }
}


/* Feedback button */
.feedback {
  top: 35%;
  height: 100px;
  width: 55px;
  position: fixed;
  right: -2px;
  a {
    border:none;
  }
}
#feedback-btn {
  vertical-align:top;
  margin-top:23px;
  width:80px;height:30px;
  @include transform(rotate(-90deg));
  background-color: $pgs_colour_1;
  color: white;
  outline: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: $pgs_colour_1_lighter;
  }
}


/* Bootstrap4 overwrite */
.btn-secondary {
  background-color:$pgs_colour_1;
  border-color: $pgs_dark3;
  //transition: 0.3s;
  &:hover, &:focus, &:active {
    background-color:$pgs_colour_1_lighter !important;
    border-color: $pgs_dark3;
  }
}

.page-item.active {
  .page-link {
    background-color:$pgs_colour_1;
    border-color: $pgs_colour_1;
  }
}
.page-link {
  color:$pgs_colour_1;
}
.dropdown-menu-right {
  .dropdown-item  {
    font-size: 14px;
  }
}
.dropdown-item:hover {
  background-color:$pgs_colour_1;
  color:#FFF;
}
.dropdown-item.active {
  background-color:$pgs_colour_1;
}

.breadcrumb {
  padding: 4px 14px;
  .breadcrumb-item a {
    border:none;
    color: $pgs_dark5;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
}
.breadcrumb-item+.breadcrumb-item::before {
  color: $pgs_colour_2;
}


/* boostrap-table overwrite */
.bootstrap-table {
  margin-bottom: 2rem;
}

.fixed-table-toolbar {
  background-color:$pgs_dark3;
  padding-right:8px;
  .columns, .search {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}

th .th-inner {
  padding: 10px 24px 10px 12px !important;
}


/* Table of contents */
.content_container {
  display: flex;
}

.table-of-contents {
  background-color:$pgs_light_grey2;
  float:left;
  h5 {
    margin-top: 0px;
    padding:5px 10px;
    background-color:$pgs_light_grey;
  }
  ul {
    padding-right:15px;
  }
}


/* Home page icon links */
.pgs_browse {
  text-align: center;
  margin-top:0rem;
  margin-bottom:4rem;

  a {
    display: block;
    padding:20px 20px;
    margin: 0px 15px;
    text-decoration: none;
    transition: background-color .1s;
    border-radius: 2px;
    box-shadow: 2px 2px 8px $pgs_darkC;
    background-color: $pgs_colour_1;


    &:hover, &:focus {
      background-color: $pgs_colour_1_lighter;
      transition: background-color .1s;
    }

    > div:first-child {
      color: #FFF;
      font-weight: 200;
      font-size: 30px;
      text-align: center;
      white-space: nowrap;
    }
    > div:nth-child(2) {
      font-size: 40px;
      color: #FFF;
      .icon-dna:hover {
        color: #FFF !important;
      }
    }

    .pgs_browse_score {
      display:flex;
      justify-content:center;
      align-items:center;

      div:first-child {
        vertical-align: middle;
        float:left;
        padding-right:0px;
        font-size:34px;
        @include transform(rotate(90deg));
        &:hover {
          color: $pgs_colour_1;
          text-decoration: none;
        }
      }
      div:last-child {
        float:left;
        padding-left:10px;
        padding-right:8px;
      }
    }
  }
}

.pgs_desc {
  margin-top: 0rem;
  margin-bottom: 5rem;
  > div {
    text-align:center;
    padding: 0px 25px;
    div {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      span {
        color: $pgs_colour_1;
        font-weight:bold;
      }
    }
  }
  > div:first-child {
    p {
      text-align:justify;
    }
  }
  > div:last-child {
    p {
      text-align:justify;
    }
  }
}

.pgs_section {
  text-align: center;
  margin-bottom: 0.5rem;
  .pgs_section_title {
    font-size: 28px;
  }
}

.pgs_small_icons {
  max-height:30px !important;
}
.pgs_big_icons {
  max-height:70px !important;
}


/* Toggle button */
.toggle_btn, .toggle_table_btn {
  cursor:pointer !important;
  white-space: nowrap;
  i {
    color: $pgs_colour_1;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
}
.toggle_list {
  display:none;
  ul {
    padding-inline-start: 20px;
    margin-bottom: 0.5em;
  }
}


/* Table CSS */
.table-left-col-filled {
  width:auto;
  td {
    padding: 10px;
  }
  td:first-child {
    background-color: $pgs_light_grey;
  }
}

td > ul {
  padding-inline-start: 1.5rem;
  margin-bottom: 0px;
}

.table_pgs_auto {
  width: auto;
  tbody > tr > td:first-child {
    font-weight:bold;
    font-style: italic;
  }
}

.table_pgs_h {
  width:auto;
  td {
    padding: 10px;
  }
  td:first-child {
    white-space: nowrap;
    text-align:right;
    vertical-align:top !important;
    background-color: $pgs_light_grey;
  }
  .pgs_h_big_header {
    font-size:16px;
    font-weight: bold;
  }
  .table_title {
    text-align:center !important;
    padding-top:6px;
    padding-bottom:6px;
    font-weight:bold;
    white-space: normal !important;

  }
  .table_title_c {
    background-color:$pgs_colour_1 !important;
    color:#FFF;
  }
  .table_title_g {
    background-color:$pgs_grey !important;
  }
  .table_subtitle {
    text-align:center !important;
    padding: 2px 8px;
    font-weight:bold;
    background-color: $pgs_light_grey2 !important;
  }
}

/* Icons related CSS */
.external-link:after {
  font-family: 'FontAwesome';
  content:"\f08e";
  font-size: 0.7rem;
  vertical-align: top;
  padding-left:4px;
}

.info-icon {
  margin-left: 5px;
  i {
    font-size: 16px;
  }
}

.pgs_no_icon_link {
  border: none;
  i {
    color: $pgs_colour_1;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
  &:hover {
    border: none;
  }
}

.file_link {
  font-size: 28px;
  border: none !important;
  cursor: pointer !important;
  i {
    padding-left: 0.5rem;
  }
}


/* Other styling */
.float_left {
  float:left;
}
.float_right {
  float:right;
}
.margin-right_1 {
  margin-right: 1rem;
}

.release_label {
    position:absolute;
    top: $header_height_with_margin - 20px;
    right:10px;
}

.page_title {
  margin-bottom: 1rem;
}

.only_export {
  display:none;
}

.pgs_note {
  padding:6px 10px 6px 6px;
  border:1px solid $pgs_grey;
  border-radius:4px;
  div {
    border-left:5px solid $pgs_note_title;
    padding-left:6px;
    span:first-child {
      font-style: italic;
      font-weight: bold;
      color: $pgs_note_title;
    }
  }
}

#include_children {
  margin-left: 1px;
  margin-right: 2px;
  transform: scale(1.2, 1.2);
}

.pgs_helptip,  {
  border-bottom:1px dotted $pgs_dark2;
  cursor: default;
  &:hover {
    border-color: $pgs_colour_2;
  }
}
.pgs_helpover {
  border-bottom:1px dotted $pgs_dark2;
  cursor: pointer;
  &:hover {
    color: $pgs_colour_2;
    border-color: $pgs_colour_2;
  }
}

.popover-header {
  margin-top: 0px;
}

.pgs_nowrap {
  white-space:nowrap;
}

.pgs_sup {
  color:$pgs_colour_1;
  &:hover {
    cursor: default;
  }
}

.badge-pgs {
  color: #fff;
  background-color: $pgs_colour_1;
  font-size: 85%;
  span {
    font-weight: 200;
  }
}
.badge-pgs-2 {
  color: #fff;
  background-color: $pgs_colour_2;
  font-size: 85%;
  span {
    font-weight: 200;
  }
}

.badge-pgs-small {
  color: #fff;
  background-color: $pgs_colour_1;
  font-size: 75%;
  cursor:default;
}

.badge-pgs-small-2 {
  color: #fff;
  background-color: $pgs_colour_2;
  font-size: 75%;
  cursor:default;
}

.badge-pgs-white {
  color: $pgs_colour_1;
  background-color: #FFF;
  font-size: 85%;
}

.pgs_color_1 {
  color: $pgs_colour_1;
}
.pgs_color_2 {
  color: $pgs_colour_2;
}

.btn-pgs, .btn-pgs-small {
  color: #FFF;
  background-color: $pgs_colour_1 !important;
  border: none !important;
  cursor: pointer;
  &:hover, &:focus {
    color: #FFF;
    background-color: $pgs_colour_1_lighter !important;
    .badge-pgs-white {
      color: $pgs_colour_1_lighter;
    }
  }
}
.btn-pgs-2 {
  border:1px solid $pgs_colour_2 !important;
  font-size:20px;
  span {
    color: $pgs_colour_2;
  }
  &:hover, &:focus {
    color: #FFF;
    background-color: $pgs_colour_1_lighter;
    border-color: $pgs_colour_1_lighter !important;
    span {
      color: #FFF;
    }
  }
}
.btn-pgs-small {
  font-size: 14px;
  padding: 3px 8px;
}

a.link-with-btn {
  border-bottom: none !important;
  i {
    font-size:16px;
    border-radius:4px;
    background-color: $pgs_colour_1;
    color:#FFF;
    margin-right:0.5rem;
  }
  i.fa-download {
    padding:3px 4px;
  }
  i.fa-code {
    padding:3px 3px;
  }
  span {
    color: $pgs_dark2;
    border-bottom: 1px dotted $pgs_colour_1_lighter;
  }
  &:hover {
    i {
      background-color: $pgs_colour_1_lighter;
    }
    span {
      color: $pgs_colour_1;
      text-decoration: none;
      border-bottom: 1px dotted $pgs_colour_2;
    }
  }
}

.highlight_content {
  float:left;
  background-color: $pgs_light_grey2;
  border: 1px solid $pgs_colour_1;
  border-radius: 4px;
  padding:0.8rem 1rem;
  p {
    &:not(:last-child) {
      margin-bottom:2px;
    }
    &:last-child {
      margin-bottom:0px;
    }
    u {
      font-size:16px;
    }
  }
}

.morecontent {
  text-decoration:none;
  display: none;
}
.morelink {
  margin-left: 0.5rem;
  display: inline;
  white-space: nowrap;
  cursor: pointer;
  color: $pgs_dark2;
  border-bottom: 1px dotted $pgs_colour_1_lighter;
  &:hover {
    color: $pgs_colour_1;
    border-bottom: 1px dotted $pgs_colour_2;
  }
}
.link_more:after {
    font-family: 'FontAwesome';
    content:"\f054";
    vertical-align: baseline;
    padding-left:4px;
    font-size: 0.75rem;
}
.link_less:before {
    font-family: 'FontAwesome';
    content:"\f053";
    vertical-align: baseline;
    padding-right:4px;
    font-size: 0.75rem;
}

.error_msg_container {
  left: 0;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  i {
    font-size: 52px;
  }
  div {
    padding: 15px 0px;
  }
}

.sample_sub_section {
  margin-top:3rem;
  margin-bottom: 2rem;
  padding-top:1rem;
  border-top:4px solid $pgs_dark2;
}
.sample_piechart_container {
  float:left;
  border:1px solid $pgs_darkC;
  > div {
    width:200px;
    height:150px;
  }
}

.pgs_v_separator_left {
  border-left: 1px solid $pgs_colour_2;
}

.pgs_h_separator {
  height:2px;
  margin-top:2rem;
  background-color: $pgs_dark2;
}

.pgs_h_list {
  background-color: $pgs_light_grey2;
  padding: 5px 5px 5px 0px;
  span:first-child {
    font-weight: bold;
    padding: 5px;
    background-color: $pgs_light_grey;
  }
  .pgs_h_item {
    padding: 0px 8px;
    &:not(:last-child) {
      border-right: 1px solid $pgs_colour_2;
    }
  }
}

.pgs_formatted_block {
  display:flex;
  pre {
    padding: 0.5rem 0.75rem;
    border:1px solid $pgs_darkA;
    line-height: 20px;
    span {
      font-weight: bold;
      color: $pgs_darkA;
    }
    span.pgs_hl {
      color: $pgs_colour_2_lighter;
      font-weight: normal !important;
    }
    span.pgs_hl_i {
      font-style: italic;
      color: $pgs_dark2;
      font-weight: normal !important;
    }
    span.scoring_col {
      padding-right:1.5rem;
    }
    i {
      &::before {
        content: '<';
        color:$pgs_colour_2;
      }
      &::after {
        content: '>';
        color:$pgs_colour_2;
      }
    }
  }
}

.pgs_colour_2 {
  color: $pgs_colour_2 !important;
}

.font_16 {
  font-size: 16px;
}
.smaller_90 {
  font-size: 90%;
}

.v-scroll {
  overflow-y: scroll;
  scrollbar-color: $pgs_colour_1 $pgs_light_grey;
}

/* Trait CSS */
.trait_graph_container {
  display:block;
  white-space:nowrap;
  margin-bottom:2rem;
  overflow-x:auto;
}

.trait_piechart_container {
  display:inline-block;
  vertical-align:top;
  padding:5px;
  margin-right:1rem;
}

.trait_piechart{
  display:inline-block;
  margin-right:0px;
  width:300px;
  height:250px;
}

.trait_cat_container {
  display:inline-block;
  min-width: 300px;
}

@media screen and (max-width: 740px) {
  #reset_cat {
    margin-left:50px !important;
  }
}
@media screen and (max-width: 1100px) {
  .trait_piechart_container{
    display: none !important;
  }
}

.trait_colour {
  padding: 3px 5px;
  border-radius: 8px;
  margin-right: 5px;
}
.trait_colour_border {
  border:1px solid $pgs_light_grey;
  padding: 2px 4px !important;
}

.trait_subcat_left {
  float:left;
  font-size: 28px;
  position:relative;
  vertical-align:middle;
  line-height: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.trait_subcat_border {
  i {
    text-shadow: -1px 1px  0 $pgs_light_grey,
				          1px 1px  0 $pgs_light_grey,
				          1px -1px 0 $pgs_light_grey,
                  -1px -1px 0 $pgs_light_grey;
  }
}

.trait_subcat_right {
  float:left;
}

.trait_item {
  display:block;
  white-space: nowrap;
  padding: 4px 6px;
  border-radius:8px;
  border: 1px solid $pgs_light_grey;
  margin-bottom:4px;
  cursor:pointer;
  &:hover {
    color: $pgs_colour_1_lighter;
    border: 1px solid $pgs_colour_1_lighter;
  }
  span:nth-child(2) {
    margin-right: 8px;
  }
}
.trait_link {
  padding-right: 8px;
  color: $pgs_colour_1_lighter !important;
}

#dc_LoadTime:hover {
  cursor: pointer;
}
#trait_cat {
  float:left;
  padding:5px 0px 5px 5px;
  &:hover {
    cursor: pointer;
  }
}
#trait_subcat {
  float:left;
  padding:5px 5px 5px 0px;
  min-width:200px;
  vertical-align: top;
}
#reset_cat {
  display:none;
  font-size: 12px;
  padding: 4px 6px;
  vertical-align: baseline;
  margin-left:100px;
  white-space: nowrap;
}


/* Footer CSS */
footer {
  margin-top:2rem;
  background-color: $pgs_dark3;
  color: #FFF;
  a {
    color: $pgs_colour_1;
    border:none;
    &:hover {
      color: $pgs_colour_1_lighter;
      border:none;
    }
  }
  .footer_first_row {
    display:flex;
    justify-content:space-around;
    >div {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
    >div:first-child {
      padding-left: 1.5rem;
      white-space:nowrap;
    }
    >div:last-child {
      padding-left: 2rem;
    }
  }
  .footer-copyright {
    a {
      color: $pgs_colour_1_lighter;
      &:hover {
        border-bottom: 1px dotted #FFF;
      }
    }
  }
}
.pgs_social {
  a {
    font-size:20px;
    padding:4px 5px;
    width:30px;
    background-color: #FFF;
    border-radius: 4px;
    border:none;
    text-align:right;
    transition: 0.2s;
    &:not(:last-child) {
      margin-right:8px;
    }
    &:hover {
      color: #FFF;
      background-color: $pgs_colour_1;
    }
  }
}

/* Search results */
.pgs_result {
  padding:8px 12px;
  border:1px solid #333;
  border-radius:5px;
  .pgs_result_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h4 {
      a {
        border:none;
        color: $pgs_colour_1;
        &:hover {
          color: $pgs_colour_1_lighter;
        }
      }
    }
    .pgs_result_subtitles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height:28px;
      line-height:18px;
      vertical-align: middle;
      padding: 3px 0px;
      margin-bottom: 0.5rem;
        /*> div {
          border-left:1px solid $pgs_colour_2;
          padding-left: 1rem;
          vertical-align:middle;
        }*/
      div {
        border:1px solid $pgs_colour_2 !important;
        padding: 1px 6px !important;
        background-color: #FFF;
        border-radius: 10px;
        font-size: 0.9em;
      }
    }
  }
  .pgs_result_content {
    span {
      border-left:1px solid $pgs_colour_2;
    }
  }
}

.table_pgs_score_results {
  width: auto;
  font-size: 80%;
  border: 1px solid $pgs_light_grey;
  th {
    background-color: $pgs_colour_1 !important;
    color: #FFF !important;
  }
  th,td {
    padding: 6px;
  }
  tbody > tr > td:first-child {
    font-weight:bold;
  }
}

/* Data protection banner */
#cookie-banner {
  display: none;
}
.data-protection-banner {
  box-sizing: border-box;
}
.data-protection-banner a,
.data-protection-banner a:hover {
  cursor: pointer;
  color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: $pgs_colour_1;
  text-decoration: none;
}
.data-protection-banner .medium-8 {
  width: 75%; margin-left: 1%; float: left;
}
.data-protection-banner .medium-4 {
  width: 23%; margin-right: 1%; float: right; text-align: right;
}


/**** Specific settings for smaller screens ****/

/* Mobile phone display */
@media screen and (max-width: 499px) {
  body {
    font-size: 0.8rem;
  }
  h2 {
    margin-top:0.5rem;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  .navbar {
    padding: 0rem 1rem !important;
    .navbar-collapse {
      left:1rem !important;
    }
  }
  .search_box {
    display: none;
  }

  .search_box_2 {
    width:auto;
    opacity: 1;
  	animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 0.25s;
    padding-left:auto;
    padding-right: auto;
    display:block !important;
    position:fixed;
    padding:6px 0px;
    top:70px;
    z-index:100;
    left:0;
    right:0;
    background-color:$pgs_colour_1;
    border-bottom:1px solid $pgs_colour_1_lighter;
    .search_form {
      padding: 0px 2rem;
      .form-control {
        font-size: 14px;
        height:28px;
      }
      button {
        background-color: $pgs_colour_1_lighter !important;
        height:28px;
      }
    }
    .search_examples {
      font-size: 10px;
      padding: 2px 2rem 0px;
      color: #FFF;
      a {
        color: #FFF;
      }
    }
  }
  .container-extra {
    padding-top: $header_height_with_margin_mobile;
  }
  .container-fluid {
    padding-left: 1rem;
    padding-right:1rem;
  }
  .release_label {
      top: $header_height_with_margin_mobile - 20px;
  }

  .feedback {
    width: 53px;
    height:auto;
    #feedback-btn {
      height: 25px;
    }
  }

  .pgs_section_title {
    font-size: 24px !important;
  }

  .pgs_browse {
    > div {
      > a {
        padding:5px 20px;
        margin: 0px 15px;
        > div:first-child {
          font-size: 24px;
        }
        > div:nth-child(2) {
          font-size: 30px;
        }
        .pgs_browse_score {
          > div:first-child {
            font-size: 30px;
          }
        }
      }
    }
  }

  .breadcrumb {
    font-size: 10px;
  }

  .btn {
    font-size: 14px;
    padding: 4px 10px;
  }
  .pgs_buttons_right {
    float:left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > div:not(:last-child) {
      margin-bottom:0.5rem;
    }
  }

  .search_facet {
    margin-bottom: 4px;
    margin-right: 0.5rem;
    padding: 0.2rem 0.3rem;
    height:27px;
    i {
      padding-right: 0px;
    }
    div {
      padding-right: 2px;
    }
    .badge-pgs {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
  }

  .bootstrap-table {
    font-size: 12px;
    .form-control {
      font-size: 12px;
    }
    .btn {
      padding: 4px 8px !important;
      i {
        font-size: 14px;
      }
    }
  }

  .table_pgs_h {
    td:first-child {
      white-space: normal !important;
    }
    .pgs_h_big_header {
      font-size: 14px !important;
    }
  }

  .highlight_content {
    float:none !important;
    u {
      font-size:14px;
      white-space: normal !important;
    }
  }

  .footer {
    font-size:12px !important;
    .footer_first_row {
      > div {
        padding-right: 0px;
      }
    }
  }
  .pgs_social {
    a {
      font-size:14px !important;
      padding:3px 3px !important;
      width:20px !important;
      &:not(:last-child) {
        margin-bottom: 4px;
        margin-right: 4px !important;
      }
    }
  }
}


/* Other small screens */
@media screen and (max-width: 655px){
  .navbar-brand {
    margin-right:1rem !important;
    margin-left: 1rem !important;
  }
  .search_box{
    .extra_example {
      display:none;
    }
  }
  .search_result_header {
    font-size: 1.50rem;
  }
  .search_facet {
    .search_facet_type {
      display:none;
    }
  }
  .pgs_result_title {
    flex-flow: column;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px){
  .navbar {
    padding: 0rem 2rem;
    .navbar-collapse {
      left:2rem !important;
    }
  }
  .container-fluid {
    padding-left: 2rem;
    padding-right:2rem;
  }
  .pgs_browse {
    > div {
      > a {
        padding:10px 50px;
        margin: 0px 25px;
        > div:first-child {
          font-size: 30px;
        }
      }
    }
  }
  .pgs_social {
    a {
      &:not(:last-child) {
        margin-bottom: 4px;
        margin-right: 4px !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .navbar {
    justify-content:flex-start;
    display: flex;
    .navbar-collapse {
      position:absolute;
      top:69px;
      left:3rem;
      padding:8px 10px;
      z-index:3000;
      background-color: $pgs_dark3;
      max-width: none;

      .nav-item {
        margin-top:5px;
        display: list-item;
        border-color: $pgs_colour_1;
        &:last-child {
          border-right:none;
        }
        &:hover {
          border-color: #FFF;
        }
        .dropdown-item {
          font-size: 0.9em;
        }
      }
    }
  }
  .navbar-brand {
    margin-right:2rem;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 1075px) {
  .navbar-nav {
    white-space: nowrap;
    display: block;
    .nav-item {
      display: inline-block;
    }
  }
}

/* Search form */
@media screen and (max-width: 535px){
  .search_box{
    width:auto !important;
    .search_form {
      width:117px !important;
    }
  }
}
@media screen and (min-width: 536px) and (max-width: 550px){
  .search_box{
    width:25vw;
  }
}
@media screen and (min-width: 551px) and (max-width: 655px){
  .search_box{
    width:30vw;
  }
}
@media screen and (min-width: 656px) and (max-width: 991px){
  .search_box{
    width:35vw ;
  }
}
@media screen and (min-width: 992px) and (max-width: 1000px) {
  .navbar {
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1075px) {
  .search_box{
    width:20vw;
  }
}
@media screen and (min-width: 1076px) {
  .search_box{
    width:25vw;
  }
}

@media screen and (min-width: 767px) {
  .pgs_browse {
    > div {
      margin: 10px 0px;
      > a {
        height:150px;
      }
    }
  }
  .pgs_desc {
    > div {
      border-bottom: none;
      &:not(:last-child) {
        border-right: 1px solid $pgs_colour_2;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .pgs_browse {
    margin-bottom: 0rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $pgs_colour_2;
    > div {
      margin: 10px 0px;
    }
  }
  .pgs_desc {
    margin-bottom: 0rem;
    > div {
      border-right:none;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid $pgs_colour_2;
    }
  }
  .pgs_section {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 919px) {
  .pgs_browse {
    a {
      margin: 0px 10px;
      padding: 20px !important;
      > div:first-child {
        font-size: 2.5vw;
      }
    }
  }
}
@media screen and (min-width: 920px) {
  .pgs_browse {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
@media screen and (min-width: 900px) and (max-width: 1225px) {
  .pgs_browse {
    a {
      > div:first-child {
        font-size: 2.4vw;
      }
    }
  }
}
@media screen and (min-width: 1226px) {
  .pgs_browse {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
