/* General CSS */

/* Variables */
$pgs_petrol: #007C82; /* EBI petrol */
$pgs_colour_1: $pgs_petrol; // Main colour
$pgs_colour_1_lighter: #00adb5;
$pgs_colour_2: #BE4A81; // Alternative colour
$pgs_colour_2_lighter: #e83e8c;
$pgs_dark0: #000;
$pgs_dark2: #222; // Main font-color
$pgs_dark3: #333; // Header & footer background-color
$pgs_dark5: #555;
$pgs_dark8: #888;
$pgs_darkA: #AAA;
$pgs_darkC: #CCC;
$pgs_grey: #D2D8DE;
$pgs_light_grey: #E9ECEF;
$pgs_light_grey2: #FAFAFA;
$pgs_note_title_1: $pgs_colour_1;
$pgs_note_title_2: #F00;
$pgs_note_title_3: $pgs_colour_2;
$pgs_facet_1: $pgs_colour_2;
$pgs_facet_2: #F58F22;
$pgs_facet_3: $pgs_dark2;
$pgs_cases: #3E95CD;
$pgs_controls: #8E5EA2;
$pgs_male: #F18F2B;

$pgs_colour_white: #FFF;
$pgs_colour_red: #E00;
$pgs_colour_amber: #FFA500;
$pgs_colour_green: #008000;

$header_height_with_margin: 75px;
$header_height_with_margin_mobile: $header_height_with_margin + 60px;
$footer_height: 97px;
$footer_height_mobile:150px;

$chart_font_family:"Verdana", "Arial", "sans-serif";

/* CSS mixin */

@mixin transform($property) {
  transform: $property;
  -ms-transform: $property; /* IE 9 */
  -moz-transform: $property; /* Firefox */
  -webkit-transform: $property; /* Safari and Chrome */
  -o-transform: $property; /* Opera */
}

/* CSS Transitions */

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* CSS classes */

html{
  height: 100%;
}

body {
  font-family: "Helvetica", "Helvetica Neue", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5;
  color: $pgs_dark2;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: $pgs_colour_1;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}


a {
  color: $pgs_dark2;
  border-bottom: 1px dotted $pgs_colour_1_lighter;
  &:hover {
    color: $pgs_colour_1;
    text-decoration: none;
    border-bottom: 1px dotted $pgs_colour_2;
  }
}

u {
  white-space: nowrap;
}

select {
  border-radius:0.25rem;
}


/* Main classes */

h2 {
  .pgs_title {
    color:$pgs_dark2;
    font-weight: bold;
  }
}

.pgs_title_left {
  float: left;
  margin-right: 4rem;
}
.pgs_buttons_right {
  float:right;
  div {
    float:left;
  }
}

.container-fluid {
  padding-left: 3rem;
  padding-right:3rem;
}
.container-extra {
  position: relative;
  top: $header_height_with_margin;
  margin-bottom:$footer_height;
  &:after {
    content: "";
    display: block;
    height: 3rem;
  }
}

.clearfix {
  &:before, .clearfix:after {
    content:" ";
    display:table;
  }
  &:after {
    content:" ";
    display:table;
    clear:both;
  }
}

.pgs_banner {
  box-shadow: 1px 1px 4px $pgs_darkC;
  color: $pgs_colour_white;
  background-color: $pgs_colour_2;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  a {
    display:inline-block;
    i {
      color: $pgs_colour_white;
    }
  }
}


/* Navbar and horizontal menu */
.navbar {
  background-color: $pgs_dark3;
  padding: 0rem 3rem;
  background-image: url("/static/catalog/imgs/pgs_header_background.png");
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  justify-content: space-around;
}

.navbar-brand {
  color: $pgs_colour_white;
  font-size: 28px;
  border:none;
  margin-right:2rem;
  span {
    padding-left:5px;
  }
  &:hover, &:active {
    color: $pgs_colour_1_lighter;
    border:none;
  }
}

.search_box {
  margin-left:auto;
  color:$pgs_colour_white;
  .search_form {
    .form-control {
      font-size: 14px;
      height:30px;
    }
    button {
      font-size: 14px;
      padding:4px 12px;
      height:30px;
    }
  }
  .search_examples {
    color:$pgs_colour_white;
    display:block;
    a {
      color:$pgs_colour_white !important;
      font-size:10px;
      cursor:pointer;
    }
  }
}
.search_form {
  [type='text']:focus {
      outline: none;
      border: 1px solid $pgs_colour_1_lighter;
      transition: border-color 0.5s ease-in-out;
  }
}
.search_box_home_container {
  display:flex;
  justify-content:center;
  .search_box_home {
    width:60%;
    form {
      box-shadow: 2px 2px 8px $pgs_darkC;
      input {
        border-color: $pgs_colour_1;
      }
    }
  }
}
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.ui-widget.ui-widget-content {
  border-top:none;
  border-color: $pgs_colour_1 !important;
}
.ui-front {
  z-index: 1050 !important;
}
.ui-menu-item-wrapper {
  .sub-menu-item-wrapper {
    font-size:11px !important;
    color:$pgs_dark8;
  }
  span {
    font-weight:bold;
    color: $pgs_colour_1;
  }
}
.ui-state-active {
  color: $pgs_colour_white !important;
  border-color: $pgs_colour_1 !important;
  background-color: $pgs_colour_1_lighter !important;
  .sub-menu-item-wrapper {
    color: $pgs_colour_white !important;
  }
  span {
    color: $pgs_colour_white !important;
  }
}
.search_link {
  cursor: pointer;
  border-bottom: 1px dotted $pgs_colour_1_lighter;
  &:hover {
    color: $pgs_colour_1;
    text-decoration: none;
    border-bottom: 1px dotted $pgs_colour_2;
  }
}


.nav-item {
  border-left: 1px solid $pgs_colour_white;
  &:last-child {
    border-right:1px solid $pgs_colour_white;
  }
  &:hover {
    background-color: $pgs_colour_1;
  }
  .active {
    background-color: $pgs_dark3;
  }
}

.navbar-toggler {
  border-color: $pgs_colour_white;
  background-color: $pgs_dark3;
  padding:8px;
  font-size: 20px;
  &:active {
    outline: none;
    box-shadow: none;
    background-color: $pgs_dark0;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-collapse {
  max-width: 500px;
}
.navbar-nav {
  margin-right: 2rem;
  .nav-link {
    padding: 0.3rem 0.7rem !important;
    font-weight: bold;
    color: $pgs_colour_white;
    border-bottom: none;
    &:hover, &:active, &:focus {
      color: $pgs_colour_white;
      border-bottom: none;
      span {
        color: $pgs_colour_white !important;
      }
    }
  }
}


/* Search result */
.search-bar {
  max-width: 250px;
  width:100%;
}
.search_result_header {
  color: $pgs_dark3 !important;
  border-bottom:1px solid $pgs_dark2;
}
.search_facet_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search_facet {
  height:32px;
  padding: 0.4rem 0.6rem;
  background-color: $pgs_colour_white;
  color: $pgs_colour_1;
  border: 1px solid $pgs_colour_1;
  border-radius: 8px;
  margin-right: 1.5rem;
  margin-bottom: 4px;
  vertical-align: middle;
  cursor: pointer;
  > i {
    font-size: 18px;
    height:18px;
    vertical-align: top;
    padding-right: 8px;
  }
  > div {
    display:inline;
    padding-right: 4px;
    line-height: 18px;
    vertical-align: top;
  }
  > span {
    vertical-align: top;
  }
  &:hover {
    background-color: $pgs_colour_1_lighter !important;
    border-color: $pgs_colour_1_lighter;
    color: $pgs_colour_white;
    > span {
      background-color: $pgs_colour_white;
      color: $pgs_colour_1_lighter;
    }
  }
}
.search_facet.selected {
  background-color: $pgs_colour_1;
  color: $pgs_colour_white;
  > span {
    vertical-align: top;
    background-color: $pgs_colour_white;
    color: $pgs_colour_1;
  }
}
.search_facet_type {
  font-weight:bold;
  display: inline-block;
  font-size:85%;
  color: $pgs_colour_white !important;
  border-radius: 50%;
  line-height: 1.5em;
  width: 1.6em;
  text-align: center;
}
.search_facet_type_1 {
  background-color:$pgs_facet_1 !important;
  &::before {
    content:"T";
  }
}
.search_facet_type_2 {
  background-color:$pgs_facet_2 !important;
  &::before {
    content:"P";
  }
}
.search_facet_type_3 {
  background-color:$pgs_facet_3 !important;
  &::before {
    content:"S";
  }
}
.result_facet_type {
  font-weight:bold;
  font-size:20px;
  color: white;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  border-radius: 50%;
}
.result_facet_type_1 {
  background-color:$pgs_facet_1;
  padding: 3px 9px 2px;
  &::before {
    content:"T";
  }
}
.result_facet_type_2 {
  background-color:$pgs_facet_2;
  padding: 2.5px 8.5px;
  &::before {
    content:"P";
  }
}
.result_facet_type_3 {
  background-color:$pgs_facet_3;
  padding: 2.5px 8.5px;
  &::before {
    content:"S";
  }
}


/* Dropdown menu */
.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}
.dropdown-menu {
  margin-top: 0px;
  margin-left: -1px;
  border-radius: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border:1px solid $pgs_colour_white;
  padding: 0px;
  a:hover {
    background-color: $pgs_colour_1;
    color: $pgs_colour_white;
    border:none;
  }
}


/* Feedback button */
.feedback {
  top: 35%;
  height: 100px;
  width: 55px;
  position: fixed;
  right: -2px;
  z-index: 100;
  a {
    border:none;
  }
}
#feedback-btn {
  vertical-align:top;
  margin-top:23px;
  width:80px;height:30px;
  @include transform(rotate(-90deg));
  background-color: $pgs_colour_1;
  color: white;
  outline: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: $pgs_colour_1_lighter;
  }
}


/* Bootstrap4 overwrite (other than the navbar)*/

.btn-secondary {
  background-color:$pgs_colour_1;
  border-color: $pgs_dark3;
  i {
    color:$pgs_colour_white !important;
  }
  &:hover, &:focus, &:active {
    background-color:$pgs_colour_1_lighter !important;
    border-color: $pgs_dark3;
  }
}

.page-item.active {
  .page-link {
    background-color:$pgs_colour_1;
    border-color: $pgs_colour_1;
  }
}
.page-link {
  color:$pgs_colour_1;
}
.dropdown-menu-right {
  .dropdown-item  {
    font-size: 14px;
  }
}
.dropdown-item {
  font-size: 0.9rem;
   &:hover {
    background-color:$pgs_colour_1;
    color:$pgs_colour_white;
  }
  .active {
    background-color:$pgs_colour_1;
  }
}

.breadcrumb {
  padding: 4px 14px;
  margin-top: 1rem;
  .breadcrumb-item a {
    border:none;
    color: $pgs_dark5;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
}
.breadcrumb-item+.breadcrumb-item::before {
  color: $pgs_colour_2;
}

.custom-control-label, .custom-control > span {
  line-height: 24px;
  vertical-align:middle !important;
  margin-bottom: 0px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $pgs_colour_1 !important;
  background-color: $pgs_colour_1 !important;
}

.fa-info-circle {
  background-color: $pgs_colour_white;
  border-radius: 20px;
}


/* boostrap-table overwrite */
.bootstrap-table {
  margin-bottom: 2rem;
}
.bootstrap-table .fixed-table-container .table thead th .sortable {
  padding-right: 20px !important;
}

.fixed-table-toolbar {
  background-color:$pgs_dark3;
  padding-right:8px;
  .columns, .search {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}

th .th-inner {
  padding: 10px 24px 10px 12px !important;
  span {
    font-weight: normal !important;
  }
}

th .th-inner-not-sortable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 12px;
  span {
    font-weight: normal !important;
  }
}


/* Table of contents */
.content_container {
  display: flex;
}

.table-of-contents {
  background-color:$pgs_light_grey2;
  float:left;
  h5 {
    margin-top: 0px;
    padding:5px 10px;
    background-color:$pgs_light_grey;
  }
  li.content_group:not(:last-child) {
    margin-bottom:0.5rem;
  }
  ul {
    padding-right:15px;
    li:not(:first-child) {
      margin-top:0.25rem;
    }
  }
}


/* Home page icon links */
.pgs_browse {
  text-align: center;
  margin-top:0rem;
  margin-bottom:4rem;

  a {
    display: block;
    padding:20px 20px;
    margin: 0px 15px;
    text-decoration: none;
    transition: background-color .1s;
    border-radius: 2px;
    box-shadow: 2px 2px 8px $pgs_darkC;
    background-color: $pgs_colour_1;

    &:hover, &:focus {
      background-color: $pgs_colour_1_lighter;
      transition: background-color .1s;
    }

    > div:first-child {
      color: $pgs_colour_white;
      font-weight: 200;
      font-size: 30px;
      text-align: center;
      white-space: nowrap;
    }
    > div:nth-child(2) {
      font-size: 40px;
      color: $pgs_colour_white;
      .fa-dna {
        font-size:32px !important;
        padding:4px;
      }
    }
  }
}

.pgs_benchmark {
  display:flex;
  justify-content:center;
  a {
    display:block;
    padding:10px 5rem;
    border:1px solid $pgs_colour_1;
    color:$pgs_colour_1;
    border-radius: 2px;
    box-shadow: 2px 2px 8px $pgs_darkC;
    font-weight:200;
    font-size:30px;
    &:hover, &:focus {
      color: $pgs_colour_white;
      border:1px solid $pgs_colour_1_lighter;
      background-color: $pgs_colour_1_lighter;
      transition: background-color .1s;
    }
    div:not(:first-child) {
      font-size:40px;
      font-weight: 400;
    }
  }
}

.pgs_desc {
  margin-top: 0rem;
  margin-bottom: 5rem;
  > div {
    text-align:center;
    padding: 0px 25px;
    div {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      span {
        color: $pgs_colour_1;
        font-weight:bold;
      }
    }
  }
  > div:first-child {
    p {
      text-align:justify;
    }
  }
  > div:last-child {
    p {
      text-align:justify;
    }
  }
}


.pgs_section {
  text-align: center;
  margin-bottom: 0.5rem;
  .pgs_section_title {
    font-size: 28px;
  }
}

.pgs_centered {
  text-align: center !important;
}

.pgs_small_icons {
  max-height:30px !important;
}
.pgs_big_icons {
  max-height:70px !important;
}

.pgs_shaded_block {
  background-color:$pgs_light_grey2;
  padding: 1rem;
}


/* Toggle button */
.toggle_btn, .toggle_table_btn {
  cursor:pointer !important;
  white-space: nowrap;
  i {
    color: $pgs_colour_1;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
  &:hover {
    i {
      color: $pgs_colour_1_lighter;
    }
  }
}
.toggle_list {
  display:none;
  ul {
    padding-inline-start: 20px;
    margin-bottom: 0.5em;
  }
}


/* Table CSS */
.table-left-col-filled {
  width:auto;
  td {
    padding: 10px;
  }
  td:first-child {
    background-color: $pgs_light_grey;
  }
}

.table-left-col-bold {
  td:first-child {
    font-weight: bold;
    >span {
      font-weight: normal;
    }
  }
}

td > ul {
  padding-inline-start: 1.5rem;
  margin-bottom: 0px;
}

.table_pgs_auto {
  width: auto;
  border-bottom: 1px solid $pgs_light_grey;
  tbody > tr > td:first-child {
    font-weight:bold;
    font-style: italic;
  }
}

.table_pgs_small_desc {
  td:last-child {
    font-size: 0.9em;
  }
}

.table_pgs_h {
  width:auto;
  td {
    padding: 10px;
  }
  td:first-child {
    white-space: nowrap;
    text-align:right;
    vertical-align:top !important;
    background-color: $pgs_light_grey;
  }
  .pgs_h_big_header {
    font-size:16px;
    font-weight: bold;
  }
  .table_title {
    text-align:center !important;
    padding-top:6px;
    padding-bottom:6px;
    font-weight:bold;
    white-space: normal !important;

  }
  .table_title_c {
    background-color:$pgs_colour_1 !important;
    color:$pgs_colour_white;
  }
  .table_title_g {
    background-color:$pgs_grey !important;
  }
  .table_subtitle {
    text-align:center !important;
    padding: 2px 8px;
    font-weight:bold;
    background-color: $pgs_light_grey2 !important;
  }
}

/* Icons related CSS */
.external-link:after {
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  display: inline-block;
  font-size: 0.6rem;
  vertical-align: top !important;
  padding-left:4px;
  font-weight:900;
}

.info-icon {
  margin-left: 5px;
  i {
    font-size: 16px;
  }
}
.info-icon-title {
  margin-left:0.5rem;
  i {
    font-size: 18px;
    color: $pgs_colour_1;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
}
.info-icon-small {
  margin-left:0.5rem;
  i {
    font-size: 14px;
    color: $pgs_colour_1;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
}

.pgs-info-icon {
  white-space: nowrap;
  &:before {
    font-family: 'Font Awesome 5 Free';
    content:"\f05a";
    color: $pgs_colour_1;
    font-weight: 900;
  }
}

.pgs_pub_details {
  display: block;
  font-size: 80%;
  &:before {
    font-family: 'Font Awesome 5 Free';
    content:"\f101";
    padding-right:4px;
    font-weight: 900;
  }
}

.pgs_no_icon_link {
  border: none;
  i {
    color: $pgs_colour_1;
    &:hover {
      color: $pgs_colour_1_lighter;
    }
  }
  &:hover {
    border: none;
  }
}

.file_link {
  font-size: 28px;
  border: none !important;
  cursor: pointer !important;
  color: $pgs_colour_1;
  padding-left: 0.1rem;
  padding-right: 0.25rem;
  &:before {
    font-family: 'Font Awesome 5 Free';
    content:"\f15c";
    font-weight: 900;
  }
  &:hover {
    color: $pgs_colour_1_lighter;
  }
}

.pgs_bracket {
  color:inherit;
  &:before {
    content: '[';
    color: $pgs_colour_2;
  }
  &:after {
    content: ']';
    color: $pgs_colour_2;
  }
}


/* Other styling */
.float_left {
  float:left;
}
.float_right {
  float:right;
}
.margin-right_1 {
  margin-right: 1rem;
}

.font-bold {
  font-weight:bold;
}

.release_label {
  display:flex;
  justify-content:space-between;
  cursor: default;
  > div {
    margin-left:auto;
  }
}

.page_title {
  margin-bottom: 1rem;
}

.only_export {
  display:none;
}

.pgs_note {
  padding:6px 10px 6px 6px;
  border:1px solid $pgs_grey;
  border-radius:4px;
  > div {
    padding-left:6px;
    > span:first-child {
      font-style: italic;
      font-weight: bold;
    }
  }
}
.pgs_note_1 {
  > div {
    border-left:5px solid $pgs_note_title_1;
    > span:first-child {
      color: $pgs_note_title_1;
    }
  }
}
.pgs_note_2 {
  > div {
    border-left:5px solid $pgs_note_title_2;
    > span:first-child {
      color: $pgs_note_title_2;
    }
  }
}
.pgs_note_3 {
  > div {
    border-left:5px solid $pgs_note_title_3;
    > span:first-child {
      color: $pgs_note_title_3;
    }
  }
}

.pgs_comment {
  border-left: 5px solid $pgs_darkC;
  font-style:italic;
  color: $pgs_dark5;
}

.pgs_bordered_block_container {
  border: 1px solid $pgs_darkC;
  border-radius:4px;
  padding:8px;
}

.licence_container {
  max-width:320px !important;
  > div {
    border:none !important;
    background-color:$pgs_light_grey;
  }
}

#include_children {
  margin-left: 1px;
  margin-right: 2px;
  transform: scale(1.2, 1.2);
}

.pgs_helptip {
  border-bottom:1px dotted $pgs_dark2;
  cursor: default;
  &:hover {
    border-color: $pgs_colour_2;
  }
}
.pgs_helpover {
  border-bottom:1px dotted $pgs_dark2;
  cursor: pointer;
  &:hover {
    color: $pgs_colour_2;
    border-color: $pgs_colour_2;
  }
}

.popover-header {
  margin-top: 0px;
}

.pgs_nowrap {
  white-space:nowrap;
}

.pgs_sup {
  color:$pgs_colour_1;
  &:hover {
    cursor: default;
  }
}

.badge-pgs, .badge-pgs-2, .badge-pgs-white {
  font-size: 85%;
  span {
    font-weight: 200;
  }
}
.badge-pgs {
  color: $pgs_colour_white;
  background-color: $pgs_colour_1;
}
.badge-pgs-2 {
  color: $pgs_colour_white;
  background-color: $pgs_colour_2;
}
.badge-pgs-white {
  color: $pgs_colour_1;
  background-color: $pgs_colour_white;
}

.badge-pgs-small, .badge-pgs-small-2 {
  color: $pgs_colour_white;
  font-size: 75%;
  cursor:default;
}
.badge-pgs-small {
  background-color: $pgs_colour_1;
}
.badge-pgs-small-2 {
  background-color: $pgs_colour_2;
}


.pgs_color_1 {
  color: $pgs_colour_1 !important;
}
.pgs_color_2 {
  color: $pgs_colour_2 !important;
}
.pgs_color_white {
  color: $pgs_colour_white !important;
}
.pgs_color_red {
  color: $pgs_colour_red !important;
}
.pgs_color_amber {
  color: $pgs_colour_amber !important;
}
.pgs_color_green {
  color: $pgs_colour_green !important;
}
.pgs_color_dark2 {
  color: $pgs_dark2 !important;
}

.pgs_bg_light_grey {
  background-color: $pgs_light_grey;
}

.btn-pgs, .btn-pgs-small {
  color: $pgs_colour_white;
  background-color: $pgs_colour_1 !important;
  border: none !important;
  cursor: pointer;
  &:hover, &:focus {
    color: $pgs_colour_white;
    background-color: $pgs_colour_1_lighter !important;
    .badge-pgs-white {
      color: $pgs_colour_1_lighter;
    }
  }
}
.btn-pgs-2 {
  border:1px solid $pgs_colour_2 !important;
  font-size:20px;
  span {
    color: $pgs_colour_2;
  }
  &:hover, &:focus {
    color: $pgs_colour_white;
    background-color: $pgs_colour_1_lighter;
    border-color: $pgs_colour_1_lighter !important;
    span {
      color: $pgs_colour_white;
    }
  }
}
.btn-pgs-small {
  font-size: 14px;
  padding: 3px 8px;
}

a.link-with-btn {
  border-bottom: none !important;
  i {
    font-size:16px;
    border-radius:4px;
    background-color: $pgs_colour_1;
    color:$pgs_colour_white;
    margin-right:0.5rem;
  }
  i.fa-download {
    padding:3px 4px;
  }
  i.fa-code {
    padding:3px 3px;
  }
  span {
    color: $pgs_dark2;
    border-bottom: 1px dotted $pgs_colour_1_lighter;
  }
  &:hover {
    i {
      background-color: $pgs_colour_1_lighter;
    }
    span {
      color: $pgs_colour_1;
      text-decoration: none;
      border-bottom: 1px dotted $pgs_colour_2;
    }
  }
}

.highlight_content {
  float:left;
  background-color: $pgs_light_grey2;
  border: 1px solid $pgs_colour_1;
  border-radius: 4px;
  padding:0.8rem 1rem;
  p {
    &:not(:last-child) {
      margin-bottom:4px;
    }
    &:last-child {
      margin-bottom:0px;
    }
    u {
      font-size:16px;
    }
  }
}
.bordered_content {
  float:left;
  border: 1px solid $pgs_colour_1;
  border-radius: 4px;
  padding:0.5rem;
}
.with_sep_right {
  border-right: 1px solid $pgs_colour_2;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.morecontent {
  text-decoration:none;
  display: none;
}
.morelink {
  margin-left: 0.5rem;
  display: inline;
  white-space: nowrap;
  cursor: pointer;
  color: $pgs_dark2;
  border-bottom: 1px dotted $pgs_colour_1_lighter;
  &:hover {
    color: $pgs_colour_1;
    border-bottom: 1px dotted $pgs_colour_2;
  }
}
.link_more:after {
    font-family: 'Font Awesome 5 Free';
    content:"\f054";
    vertical-align: baseline;
    padding-left:4px;
    font-size: 0.75rem;
    font-weight: 900;
}
.link_less:before {
    font-family: 'Font Awesome 5 Free';
    content:"\f053";
    vertical-align: baseline;
    padding-right:4px;
    font-size: 0.75rem;
    font-weight: 900;
}

.error_msg_container {
  left: 0;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  i {
    font-size: 52px;
  }
  div {
    padding: 15px 0px;
  }
}

.individuals_count:before,
.sample_individuals:before,
.sample_cases:before,
.sample_controls:before,
.sample_male:before
 {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  font-weight: 400;
  padding-right: 8px;
}
.individuals_count:before {
  padding-right: 4px !important;
}
.sample_cases:before {
  color: $pgs_cases;
}
.sample_controls:before {
  color: $pgs_controls;
}
.sample_male:before {
  color: $pgs_male;
}

.sample_sub_section {
  margin-top:3rem;
  margin-bottom: 2rem;
  padding-top:1rem;
  border-top:4px solid $pgs_dark2;
}
.sample_piechart_container {
  float:left;
  border:1px solid $pgs_darkC;
  text-align: center;
  padding-top: 6px;
  > div:first-child {
    font-size: 12px;
    font-weight: bold;
    color: $pgs_dark5;
  }
  > svg {
    width:200px !important;
    height:130px !important;
  }
}

.pgs_v_separator_left {
  border-left: 1px solid $pgs_colour_2;
}

.pgs_h_separator {
  height:2px;
  margin-top:2rem;
  background-color: $pgs_dark2;
}

.pgs_h_list {
  background-color: $pgs_light_grey2;
  padding: 5px 5px 5px 0px;
  span:first-child {
    font-weight: bold;
    padding: 5px;
    background-color: $pgs_light_grey;
  }
  .pgs_h_item {
    padding: 0px 8px;
    &:not(:last-child) {
      border-right: 1px solid $pgs_colour_2;
    }
  }
}

.pgs_formatted_block {
  display:flex;
  pre.example {
    border:1px solid $pgs_colour_1_lighter !important;
  }
  pre {
    padding: 0.5rem 0.75rem;
    border:1px solid $pgs_darkA;
    line-height: 20px;
    background-color: $pgs_colour_white;
    span {
      font-weight: bold;
      color: $pgs_darkA;
    }
    span.pgs_hl {
      color: $pgs_colour_2_lighter;
      font-weight: normal !important;
    }
    span.pgs_hl_i {
      font-style: italic;
      color: $pgs_dark2;
      font-weight: normal !important;
    }
    span.scoring_col {
      padding-right:1.5rem;
    }
    i {
      &::before {
        content: '<';
        color:$pgs_colour_2;
      }
      &::after {
        content: '>';
        color:$pgs_colour_2;
      }
    }
  }
}

.font_16 {
  font-size: 16px;
}
.font_20 {
  font-size: 20px;
}
.smaller_90 {
  font-size: 90%;
}

.v-scroll {
  overflow-y: scroll;
  scrollbar-color: $pgs_colour_1 $pgs_light_grey;
}

.gwas_source {
  display: flex;
  white-space: nowrap;
  line-height: 24px;
  &:before {
    content: url('/static/catalog/imgs/GWAS_Catalog_logo_24.png');
    width: 29px;
  }
}


/* Trait CSS */
.trait_graph_container {
  display:block;
  white-space:nowrap;
  margin-bottom:2rem;
  overflow-x:auto;
}

.trait_piechart_container {
  display:inline-block;
  vertical-align:top;
  padding:5px;
  margin-right:1rem;
}

.trait_piechart{
  display:inline-block;
  margin-right:0px;
  svg {
    width:300px !important;
    height:260px !important;
  }
}

.trait_cat_container {
  display:inline-block;
  min-width: 300px;
}

@media screen and (max-width: 740px) {
  #reset_cat {
    margin-left:50px !important;
  }
}
@media screen and (max-width: 1100px) {
  .trait_piechart_container{
    display: none !important;
  }
}

td.trait_categories {
  div:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}
.trait_colour {
  padding: 2px 5px;
  border-radius: 8px;
  margin-right: 5px;
}
.trait_colour_border {
  border:1px solid $pgs_light_grey;
  padding: 1px 4px !important;
}

.trait_subcat_left {
  float:left;
  font-size: 28px;
  position:relative;
  vertical-align:middle;
  line-height: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.trait_subcat_border {
  i {
    text-shadow: -1px 1px  0 $pgs_light_grey,
				          1px 1px  0 $pgs_light_grey,
				          1px -1px 0 $pgs_light_grey,
                  -1px -1px 0 $pgs_light_grey;
  }
}

.trait_subcat_right {
  float:left;
}

.trait_item {
  display:block;
  white-space: nowrap;
  padding: 2px 6px;
  border-radius:8px;
  border: 1px solid $pgs_light_grey;
  margin-bottom:4px;
  cursor:pointer;
  &:hover {
    color: $pgs_colour_1_lighter;
    border: 1px solid $pgs_colour_1_lighter;
  }
  span:nth-child(2) {
    font-size: 90%;
    margin-right: 8px;
  }
  span:nth-child(3) {
    margin-top: 2px;
  }
}
.trait_item_selected {
  display:block;
  white-space: nowrap;
  padding: 2px 6px;
  border-radius:8px;
  color: $pgs_colour_1_lighter;
  border: 1px solid $pgs_colour_1_lighter;
  margin-bottom:4px;
  span:nth-child(2) {
    font-size: 90%;
    margin-right: 8px;
  }
  span:nth-child(3) {
    margin-top: 2px;
  }
}
.trait_link {
  padding-right: 8px;
  color: $pgs_colour_1_lighter !important;
}

#dc_LoadTime:hover {
  cursor: pointer;
}
#trait_cat {
  float:left;
  padding:5px 0px 5px 5px;
  &:hover {
    cursor: pointer;
  }
}
#trait_subcat {
  float:left;
  padding:5px 5px 5px 0px;
  min-width:200px;
  vertical-align: top;
}
#reset_cat {
  display:none;
  font-size: 12px;
  padding: 4px 6px;
  vertical-align: baseline;
  margin-left:100px;
  white-space: nowrap;
}


/* Footer CSS */
footer {
  margin-top:2rem;
  background-color: $pgs_dark3;
  color: $pgs_colour_white;
  .footer_first_row {
    display:flex;
    justify-content:space-around;
    >div {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
    >div:first-child {
      padding-left: 1.5rem;
      white-space:nowrap;
    }
    >div:last-child {
      padding-left: 2rem;
    }
  }
  .footer-copyright {
    span:not(:last-child) {
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid $pgs_colour_white;
    }
    a {
      color:$pgs_colour_white !important;
      border-bottom: 1px dotted $pgs_colour_1_lighter;
      &:hover {
        border-bottom: 1px dotted $pgs_colour_2;
      }
    }
  }
}
.pgs_social {
  a {
    font-size:20px;
    padding:4px 5px;
    width:30px;
    color: $pgs_colour_1;
    background-color: $pgs_colour_white;
    border-radius: 4px;
    border:none;
    text-align:right;
    transition: 0.2s;
    &:not(:last-child) {
      margin-right:8px;
    }
    &:hover {
      color: $pgs_colour_white;
      cursor:pointer !important;
      background-color: $pgs_colour_1 !important;
    }
  }
}


/* Search results */
.pgs_result {
  padding:8px 12px;
  border:1px solid $pgs_dark3;
  border-radius:5px;
  .pgs_result_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h4 {
      a {
        border:none;
      }
    }
    .pgs_result_subtitles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height:30px;
      line-height:18px;
      vertical-align: middle;
      padding: 4px 0px;
      margin-bottom: 0.5rem;
      div {
        padding: 1px 6px !important;
        background-color: $pgs_colour_white;
        border-radius: 10px;
        font-size: 0.9em;
      }
      div:first-child {
        border:1px solid $pgs_colour_1 !important;
      }
      div:not(:first-child) {
        border:1px solid $pgs_colour_2 !important;
      }
      div:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  .pgs_result_content {
    > span {
      border-left:1px solid $pgs_colour_2;
      padding-left: .5rem!important;
      margin-left: .5rem!important;
    }
  }
  .pgs_result_count {
    display:inline-block;
    background-color: rgba(0,0,0,.05);
    border-radius:10px;
    padding-left: 6px;
    padding-right: 1px;
    height: 22px;
    span {
      vertical-align:middle;
    }
    .badge {
      margin-top: 1px;
    }
  }
  .pgs_result_list {
    border-left:1px solid $pgs_colour_2;
  }
  .pgs_result_button {
    &:before {
      color: $pgs_colour_1;
      font-family: "Font Awesome 5 Free";
      content: "\f101";
      font-weight:900;
    }
  }
}

.table_pgs_score_results {
  width: auto;
  font-size: 80%;
  border: 1px solid $pgs_light_grey;
  th {
    background-color: $pgs_colour_1 !important;
    color: $pgs_colour_white !important;
  }
  th,td {
    padding: 6px;
  }
  tbody > tr > td:first-child {
    font-weight:bold;
  }
  tbody > tr > td:nth-child(4),
  tbody > tr > td:nth-child(5) {
    text-align:center !important;
  }
}

/* Data protection banner */
#cookie-banner {
  display: none;
}
.data-protection-banner {
  box-sizing: border-box;
}
.data-protection-banner a,
.data-protection-banner a:hover {
  cursor: pointer;
  color: $pgs_colour_white;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: $pgs_colour_1;
  text-decoration: none;
}
.data-protection-banner .medium-8 {
  width: 75%; margin-left: 1%; float: left;
}
.data-protection-banner .medium-4 {
  width: 23%; margin-right: 1%; float: right; text-align: right;
}


/**** Specific settings for smaller screens ****/

/* Mobile phone display */
@media screen and (max-width: 499px) {
  body {
    font-size: 0.8rem;
  }
  h2 {
    margin-top:0.5rem;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  .navbar {
    padding: 0rem 1rem !important;
    .navbar-collapse {
      left:1rem !important;
    }
  }
  .search_box {
    display: none;
  }

  .search_box_home_container {
    display: none;
  }

  .search_box_2 {
    width:auto;
    opacity: 1;
  	animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 0.25s;
    display:block !important;
    position:fixed;
    padding:10px 0px 8px;
    top:70px;
    z-index:100;
    left:0;
    right:0;
    background-color:$pgs_colour_1;
    border-bottom:1px solid $pgs_colour_1_lighter;
    .search_form {
      padding: 0px 2rem;
      .form-control {
        font-size: 14px;
        height:28px;
      }
      button {
        background-color: $pgs_colour_1_lighter !important;
        height:28px;
      }
    }
    .search_examples {
      font-size: 10px;
      padding: 2px 2rem 0px;
      color: $pgs_colour_white;
      a {
        color: $pgs_colour_white;
      }
    }
  }
  .ui-autocomplete {
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
  }

  .container-extra {
    top: $header_height_with_margin_mobile;
    margin-bottom:$footer_height_mobile;
  }
  .container-fluid {
    padding-left: 0.5rem;
    padding-right:0.5rem;
  }

  .feedback {
    width: 60px;
    height:auto;
    #feedback-btn {
      height: 25px;
    }
  }

  .pgs_section_title {
    font-size: 24px !important;
  }

  .pgs_browse, .pgs_benchmark {
    > div {
      > a {
        padding:5px 20px;
        margin: 0px 15px;
        > div:first-child {
          font-size: 24px;
        }
        > div:nth-child(2) {
          font-size: 30px;
          .fa-dna {
            font-size:26px !important;
            padding:4px 2px;
          }
        }
      }
    }
  }

  .breadcrumb {
    font-size: 10px;
    margin-top: 0.5rem;
  }

  .btn {
    font-size: 14px;
    padding: 4px 10px;
  }
  .pgs_buttons_right {
    float:left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > div:not(:last-child) {
      margin-bottom:0.5rem;
    }
  }

  .filter_container {
    label, select {
      font-size: 12px;
    }
  }

  .search_facet {
    margin-bottom: 4px;
    margin-right: 0.5rem;
    padding: 0.2rem 0.3rem;
    height:25px;
    i {
      padding-right: 0px;
      font-size: 16px;
      height:16px;
    }
    div {
      padding-right: 2px;
    }
    .badge-pgs {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
  }
  .result_facet_type {
    font-size:14px;
    margin-right: 0.5rem;
  }
  .result_facet_type_1 {
    padding: 4.5px 8px 4px;
  }
  .result_facet_type_2 {
    padding: 4.5px 8px 4px;
  }
  .result_facet_type_3 {
    padding: 4.5px 8px 4px;
  }
  .pgs_result {
    .pgs_result_title {
      h4 {
        font-size: 16px;
      }
    }
    .pgs_result_subtitles {
      height:auto !important;
      div {
        margin-bottom: 5px;
      }
      div:not(:last-child) {
        margin-right: 0.5rem !important;
      }
    }
    .pgs_result_content {
      > span {
        border-left: none;
        display: block;
        padding-left: 0px !important;
        margin-left: 0px !important;
      }
    }
  }

  .bootstrap-table {
    font-size: 12px;
    .form-control {
      font-size: 12px;
    }
    .btn {
      padding: 4px 8px !important;
      i {
        font-size: 14px;
      }
    }
  }

  .table_pgs_h {
    td:first-child {
      white-space: normal !important;
    }
    .pgs_h_big_header {
      font-size: 14px !important;
    }
  }

  .highlight_content {
    float:none !important;
    u {
      font-size:14px;
      white-space: normal !important;
    }
  }

  .trait_item, .trait_item_selected {
    padding: 3px 6px 3.5px;
  }

  // Search results
  .pgs_result_count {
    > .badge-pgs {
      padding-bottom: 1px;
    }
  }
  .pgs_result_button {
    display: block;
    margin-top: 4px;
  }

  // Page footer
  .footer {
    font-size:12px !important;
    .footer_first_row {
      > div {
        padding-right: 0px;
      }
    }
  }
  .pgs_social {
    a {
      font-size:14px !important;
      padding:3px 3px !important;
      width:20px !important;
    }
  }
}


/* Other small screens */
@media screen and (max-width: 655px){
  .navbar-brand {
    margin-right:1rem !important;
    margin-left: 1rem !important;
  }
  .search_box{
    .extra_example {
      display:none;
    }
  }
  .search_result_header {
    font-size: 1.50rem;
  }
  .search_facet {
    .search_facet_type {
      display:none;
    }
  }
  .pgs_result_title {
    flex-flow: column;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .navbar {
    padding: 0rem 2rem;
    .navbar-collapse {
      left:2rem !important;
    }
  }
  .container-fluid {
    padding-left: 2rem;
    padding-right:2rem;
  }
  .pgs_browse {
    > div {
      > a {
        padding:10px 50px;
        margin: 0px 25px;
        > div:first-child {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .pgs_social {
    a {
      &:not(:last-child) {
        margin-bottom: 4px;
        margin-right: 4px !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .navbar {
    justify-content:flex-start;
    display: flex;
    .navbar-collapse {
      position:absolute;
      top:69px;
      left:3rem;
      padding:8px 10px;
      z-index:3000;
      background-color: $pgs_dark3;
      max-width: none;

      .nav-item {
        margin-top:5px;
        display: list-item;
        border-color: $pgs_colour_1;
        &:last-child {
          border-right:none;
        }
        &:hover {
          border-color: $pgs_colour_white;
        }
        .dropdown-item {
          font-size: 0.9em;
        }
      }
    }
  }
  .navbar-brand {
    margin-right:2rem;
    margin-left: 2rem;
  }

  .search_box_home_container {
    margin-left: 4vw;
    margin-right: 4vw;
    .search_box_home {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 1075px) {
  .navbar-nav {
    white-space: nowrap;
    display: block;
    .nav-item {
      display: inline-block;
    }
  }
}

/* Search form */
@media screen and (max-width: 535px){
  .search_box{
    width:auto !important;
    .search_form {
      width:117px !important;
    }
  }
}
@media screen and (min-width: 536px) and (max-width: 550px){
  .search_box{
    width:25vw;
  }
}
@media screen and (min-width: 551px) and (max-width: 655px){
  .search_box{
    width:30vw;
  }
}
@media screen and (min-width: 656px) and (max-width: 991px){
  .search_box{
    width:35vw ;
  }
}
@media screen and (min-width: 992px) and (max-width: 1000px) {
  .navbar {
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1075px) {
  .search_box{
    width:20vw;
    .extra_example {
      display:none;
    }
  }
}
@media screen and (min-width: 1076px) {
  .search_box{
    width:25vw;
  }
}

@media screen and (min-width: 767px) {
  .pgs_browse {
    > div {
      margin: 10px 0px;
      > a {
        height:150px;
      }
    }
  }
  .pgs_desc {
    > div {
      border-bottom: none;
      &:not(:last-child) {
        border-right: 1px solid $pgs_colour_2;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .pgs_browse {
    margin-bottom: 0rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $pgs_colour_2;
    > div {
      margin: 10px 0px;
    }
  }
  .pgs_benchmark {
    display: block;
    a {
      padding:5px 20px;
      margin: 0px 15px;
    }
  }
  .pgs_desc {
    margin-bottom: 0rem;
    > div {
      border-right:none;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid $pgs_colour_2;
    }
  }
  .pgs_section {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 919px) {
  .pgs_browse {
    a {
      margin: 0px 10px;
      padding: 20px !important;
      > div:first-child {
        font-size: 2.5vw;
      }
    }
  }
}
@media screen and (min-width: 920px) {
  .pgs_browse {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
@media screen and (min-width: 900px) and (max-width: 1225px) {
  .pgs_browse {
    a {
      > div:first-child {
        font-size: 2.4vw;
      }
    }
  }
}
@media screen and (min-width: 1226px) {
  .pgs_browse {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}


/* Form */
.pgs_form_container {
  flex-direction:row;
  display: flex;
  justify-content: flex-start;
  > div:not(:last-child) {
    margin-right: 1rem!important;
  }
}
/* Mobile phone display */
@media screen and (max-width: 499px) {
  .pgs_form_container {
    flex-direction:column;
    justify-content: center;
    > div {
      margin-right:0px;
    }
  }
}


/* Ancestry */
.filter_container {
  border:1px solid $pgs_darkC;
  border-radius:4px;
  padding:4px 10px;
}
.filter_header {
  font-weight: 200;
  border-bottom:1px solid $pgs_darkC;
  color: $pgs_dark0;
  padding-bottom:4px;
  margin-bottom: 6px;
  text-align:center;
}
.filter_form {
  display:flex;
  flex-flow: row wrap;
}
.filter_study {
  margin-right: 1rem;
  padding-right:1rem;
  border-right:1px solid $pgs_darkC;
}
.filter_subheader {
  font-weight: 200;
}

#ancestry_legend_content {
  display:flex;
  flex-flow: row wrap;
}
.ancestry_legend {
  font-size:80%;
  ul {
    margin-left: 1rem;
  }
  > div {
    line-height: 18px;
  }
}
.ancestry_box_legend {
  margin-right:8px;
  font-size: 14px;
  vertical-align: middle;
}


/* Mobile phone display */
@media screen and (max-width: 1069px) {
  .filter_study{
    border-right: 1px solid $pgs_colour_white;
  }
  .filter_ancestry {
    margin-top:1rem;
  }
}


/* Ancestry styling */
.anc_box_gwas, .anc_box_dev, .anc_box_eval {
  font-size: 12px;
  div:first-child {
    font-weight: bold;
    border-bottom:1px solid $pgs_darkC;
    padding-bottom: 4px;
    margin-bottom: 8px;
  }
  div:not(:first-child) {
    text-align:left;
    margin:3px 0px;
    line-height: 15px;
    span {
      padding-left:15px;
      margin-right:5px;
    }
  }
  > span {
    display: block;
    margin-top: 8px;
    border-top:1px solid $pgs_darkC;
    padding-top: 4px;
  }
  ul {
    font-size: 90%;
    margin-bottom: 0.4rem;
    padding-left:30px;
  }
}
.anc_box_gwas {
  div:first-child:before {
    content: "G - Source of Variant Associations (GWAS)";
  }
  > span:after {
    content: " individuals (100%)"
  }
}
.anc_box_dev {
  div:first-child:before {
    content: "D - Score Development/Training";
  }
  > span:after {
    content: " individuals (100%)"
  }
}
.anc_box_eval {
  div:first-child:before {
    content: "E - PGS Evaluation";
  }
  > span:after {
    content: " Sample Sets (100%)"
  }
}

.anc_chart_container {
  display:flex;
  > div {
    width:50px;
    height:40px;
    padding:0px 5px;
    text-align:center;
    line-height:40px;
    &:hover {
      cursor:default;
    }
  }
}
.anc_chart svg {
  width:40px !important;
  height:40px !important;
}

text.pie_text {
  text-anchor:middle;
}


/* Ancestry colours */
$ancestry_colours: (
  "AFR": #FFD900, //gold(ish)
  "AMR": #E41A1C, // red
  "ASN": #B15928, // brown
  "EAS": #4DAF4A, // green
  "EUR": #377EB8, // blue
  "GME": #00CED1, // turquoise
  "SAS": #984EA3, // purple
  "MAE": #A6CEE3, // light blue
  "MAO": #FF7F00, // orange
  "NR":  #BBB,    // lighter grey
  "OTH": #999     // grey
);

$ancestry_labels: (
  'MAE': 'Multi-ancestry (including European)',
  'MAO': 'Multi-ancestry (excluding European)',
  'AFR': 'African',
  'EAS': 'East Asian',
  'SAS': 'South Asian',
  'ASN': 'Additional Asian Ancestries',
  'EUR': 'European',
  'GME': 'Greater Middle Eastern',
  'AMR': 'Hispanic or Latin American',
  'OTH': 'Additional Diverse Ancestries',
  'NR' : 'Not Reported'
);

@each $anc_key, $anc_colour in $ancestry_colours {
  .anc_#{$anc_key} {
    background-color: $anc_colour;
  }
  .anc_colour_#{$anc_key} {
    color: $anc_colour;
    &:before {
      color: $anc_colour;
      font-family: "Font Awesome 5 Free";
      content: "\f0c8";
      font-weight:900;
    }
  }
  .anc_bd_#{$anc_key} {
    border-left: 8px solid $anc_colour;
    padding-left:5px;
  }
}
// Fill yup the ancestry chart tooltips
@each $anc_key, $anc_label in $ancestry_labels {
  .anc_bd_#{$anc_key}:before {
    content: $anc_label+": ";
  }
}


.ancestry_example_container {
  display:flex;
  flex-wrap:wrap;
  > div {
    padding:10px;
    border:1px solid $pgs_darkC;
    div:first-child {
      text-align:center;
      background-color: $pgs_light_grey;
    }
    div.ancestry_example_combined {
      border-top:1px solid $pgs_darkC;
    }
    ul {
      min-height: 65px;
    }
  }
}
