{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}All Scores {% endblock %}

{% block desc %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "name": "Browse {{ view_name }}",
      "description": "List all the {{ view_name }} of the catalog.",
      "keywords": ["{{ view_name }}","catalog","catalogue","data"]
    }
  </script>
{% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
        <li class="breadcrumb-item">Browse</li>
        <li class="breadcrumb-item">{{ view_name }}</li>
      </ol>
    </nav>
    <div class="table-container">
        <section>
          <h2 class="pgs_facet_icon pgs_facet_1_icon">{{ view_name }}</h2>

          <form action="/browse/scores/" method="post" id="browse_ancestry_form" name="browse_ancestry_form">{% csrf_token %}
            {% include "catalog/includes/ancestry_form.html" %}
            <div class="fixed-table-toolbar" style="display:flex;justify-content:flex-end">
              <div style="200px;margin: 8px 5px 8px 8px">
                <input class="form-control search-input" type="search" aria-label="Search" placeholder="Search" autocomplete="off" name="browse_scores_search" id="browse_scores_search" {% if form_data.browse_scores_search %}value="{{ form_data.browse_scores_search }}"{% endif %}/>
              </div>
                <div style="margin: 8px 0px">
                <button type="button" class="btn btn-pgs pgs_no_icon_link" id="browse_scores_search_btn" value="Submit">
                  <span class="fas fa-search"></span>
                </button>
              </div>
            </div>
            {% render_table table %}
          </form>
        </section>
    </div>
{% endblock %}
