{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}Scoring Files Validation{% endblock %}

{% block desc %}
  <script type="application/javascript">
      const on_gae = {{ is_pgs_app_on_gae }};
  </script>
  {% if is_pgs_app_on_gae %}
    <script defer type="module" src="{% static 'validator/js/scores_consumer.min.js' %}"></script>
  {% else %}
    <script defer type="module" src="{% static 'validator/js/scores_consumer.js' %}"></script>
  {% endif %}
{% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/curation_tracker/static">PGS Catalog</a></li>
        <li class="breadcrumb-item">Scoring Files Validation</li>
      </ol>
    </nav>

    <h2><i class="fa-solid fa-file-circle-check pgs_color_1 pr-2"></i><span style="color:#222;font-weight:200">Scoring Files Validation</span></h2>
    
    <div class="mt-4 mb-4">
    <!-- Conditional display of the forms depending on browser compatibility -->
      <div id="fsaForm" style="display: none;">
        <div id="fsaForm_1" class="mb-3">
            1) Please grant the permission to read your local directory that contains your scores to validate: <button type="button" id="mountvalidate" class="btn btn-pgs">Grant permission</button>
            <div style="color: #007C82" id="grant_message"></div>
        </div>
        <div id="fsaForm_2" style="display: none;">
            2) Then click on <button id="validate_single" class="btn btn-pgs" disabled>Validate One File</button> to select only one file to validate in this directory,
          or click on <button id="validate_directory" class="btn btn-pgs" disabled>Validate Directory</button> to validate all scoring files located in this directory (restricted to files with the following extensions: <span class="allowed_extensions"></span>).
        </div>
      </div>
      <div id="webkitForm" style="display: none;">
        <!-- Hidden input if the previous "mount" action is not supported by the browser (Firefox, Safari) -->
        <div class="mb-3">
            Click on <button id="validate_single_webkit" class="btn btn-pgs">Validate One File</button> to validate one selected scoring file.
            <input type="file" id="webkitFilePicker" style="display: none">
        </div>
        <div>
            Click on <button id="validate_directory_webkit" class="btn btn-pgs">Validate Directory</button> to validates all scoring files located in the selected directory (restricted to files with the following extensions: <span class="allowed_extensions"></span>).
            <input type="file" id="webkitDirPicker" style="display: none" webkitdirectory multiple>
        </div>
      </div>
      <div id="error" class="mt-2"></div>
      <div id="validation_out"></div>
    </div>

    
{% endblock %}
