{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>PGS Catalog - {% block title %}{% endblock %}</title>
  <meta name="keywords" content="polygenic score, polygenic risk score, pgs, prs, catalog, catalogue, database, genetic, genomic, prediction, disease, gwas, ebi" /><!-- 3 to 10 keywords about the content of this page (not the whole project) -->
  <meta name="author" content="PGS Catalog" /><!-- Your [project-name] here -->
  <meta name="description" content="The Polygenic Score (PGS) Catalog is an open database of
    published PGS and the relevant metadata needed to apply and evaluate them correctly.">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#70BDBD" /> <!-- Android Chrome mobile browser tab color -->
  <!-- Get suggested SEO and social metatags at:
       https://www.ebi.ac.uk/style-lab/websites/patterns/meta-copy.html -->

  <!-- Add information on the life cycle of this page -->
  <meta name="ebi:owner" content="Samuel Lambert" /> <!-- Who should be contacted about changes -->
  <meta name="ebi:review-cycle" content="30" /> <!-- In days, how often should the content be reviewed -->
  <meta name="ebi:last-review" content="2019-07-25" /> <!-- The last time the content was reviewed -->
  <meta name="ebi:expiry" content="2019-12-31" /> <!-- When this content is no longer relevant -->

  <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
  <link rel="dns-prefetch" href="//www.ebi.ac.uk/gwas/" />

  <!-- If you have custom icon, replace these as appropriate.
       You can generate them at realfavicongenerator.net -->
  <link rel="icon" type="image/x-icon" href="{% static 'catalog/imgs/favicons/favicon.ico' %}" />
  <link rel="icon" type="image/png" href="{% static 'catalog/imgs/favicons/favicon-16x16.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'catalog/imgs/favicons/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'catalog/imgs/favicons/android-chrome-192x192.png' %}" /> <!-- Android (192px) -->
  <link rel="icon" type="image/png" sizes="384x384" href="{% static 'catalog/imgs/favicons/android-chrome-384x384.png' %}" /> <!-- Android (384px) -->
  <meta name="msapplication-TileImage" content="{% static 'catalog/imgs/favicons/mstile-150x150.png' %}" />


  <!-- Boostrap CSS libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet"/>

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all">

  <!-- SCSS file -->
  {% compress css %}
    <link type="text/x-scss" href="{% static 'catalog/pgs.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}

  <!-- Chart.js -->
  <link rel="stylesheet" href="{% static 'catalog/Chart.min.css' %}" type="text/css" media="all" />
  <script defer type="text/javascript" src="{% static 'catalog/Chart.bundle.min.js' %}"></script>

  <!-- jQuery, bootstrap, bootstrap-table (and extensions), table-export libraries -->
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <!-- Bootstrap bundle include Popper.js and Bootstrap JS -->
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  <script defer src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script defer src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  <script defer src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script defer src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>


  {% compress js file pgs_min %}
    <script defer src="{% static 'catalog/pgs.js' %}"></script>
  {% endcompress %}

</head>
<body><!-- add any of your classes or IDs -->

  <div>
    <nav class="navbar fixed-top navbar-expand-md">
      <!--<div class="container">-->
        <a class="navbar-brand" href="../../" data-original-title="" title="Polygenic Score Catalog" style="margin-right:2rem;">
            <img src="{% static 'catalog/imgs/PGS_Logo.png' %}" style="height:60px"/> <span style="padding-left:5px">PGS Catalog</span>
        </a>
        <!--/.navbar-collapse - begin -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Horizontal menu -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="../../">Home</a></li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Browse</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../../browse/all/">Polygenic Scores</a>
                  <a class="dropdown-item" href="../../browse/traits/">Traits</a>
                  <a class="dropdown-item" href="../../browse/studies/">Publications</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="../../downloads/">Downloads</a></li>
              <li class="nav-item"><a class="nav-link" href="../../docs/">Documentation</a></li>
              <li class="nav-item"><a class="nav-link" href="../../about/">About</a></li>
            </ul>
          </div>
        <!--/.navbar-collapse - end -->
    </nav>
  </div>


    <div class="feedback">
      <a href="mailto:pgs-info@ebi.ac.uk" title="Feedback or contact us">
        <button type="button" id="feedback-btn">Feedback</button>
      </a>
    </div>

    <div class="container-fluid container-extra min-vh-100">
      {% block content %}
      {% endblock %}
    </div>


    <footer class="footer font-small pt-3">

      <div class="footer_first_row">
        <div>Funded by:</div>
        <div>
          <a class="pgs_no_icon_link" href="https://www.phpc.cam.ac.uk/"><img class="img-fluid" src="{% static 'catalog/imgs/UofCambridge_small.png' %}" alt="University of Cambridge" style="max-height:30px"></a>
        </div>
        <div >
          <a class="pgs_no_icon_link" href="https://www.ebi.ac.uk/" style="link:none"><img class="img-fluid" src="{% static 'catalog/imgs/EMBL_EBI_small.png' %}" alt="EMBL-EBI" style="max-height:30px"></a>
        </div>
        <div>
          <a class="pgs_no_icon_link" href="https://www.hdruk.ac.uk/about/structure/hdr-uk-cambridge/"><img class="img-fluid" src="{% static 'catalog/imgs/HDR-UK_small.png' %}" alt="HDR-UK (Cambridge)" style="max-height:30px"></a>
        </div>
        <div>
          <a class="pgs_no_icon_link" href="https://baker.edu.au/"><img class="img-fluid" src="{% static 'catalog/imgs/Baker_Logo_small.png' %}" alt="Baker Heart and Diabetes Institute" style="max-height:30px"></a>
        </div>
        <div>
          <div class="pgs_social">
            <a class="icon-common pgs_no_icon_link" title="Email" href="mailto:pgs-info@ebi.ac.uk" data-icon="&#xf1fa;" target="_blank"></a>
            <a class="icon icon-socialmedia pgs_no_icon_link" title="Twitter" href="http://www.twitter.com/pgscatalog" data-icon="T" target="_blank"></a>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 ">
        Copyright © EMBL-EBI 2020 | <a class="pgs_no_icon_link" href="https://www.ebi.ac.uk/">EMBL-EBI</a> is an Outstation of the <a class="pgs_no_icon_link" href="https://www.embl.org/">European Molecular Biology Laboratory</a> | <a class="pgs_no_icon_link" href="https://www.ebi.ac.uk/about/privacy">Privacy</a> | <a class="pgs_no_icon_link" href="https://www.ebi.ac.uk/about/cookies">Cookies</a> | <a class="pgs_no_icon_link" href="https://www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>

  <!-- Google Analytics details... -->
  <script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-145149243-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script>

</body>
