{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}All {{ view_name }}{% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">PGS Catalog</a></li>
        <li class="breadcrumb-item">Browse</li>
        <li class="breadcrumb-item">{{ view_name }}</li>
      </ol>
    </nav>
    <div class="table-container">
        <section>
        <h2>{{ view_name }}</h2>
        {% if scores_list %}
            <ul>
                {% for score in scores_list %}
                    <li><a href="../../pgs/{{ score.PGS_id }}/">{{ score }}</a></li>
                {% endfor %}
            </ul>
        {% elif table %}
          {% if data_chart %}
            <script type="text/javascript">
              document.addEventListener("DOMContentLoaded", function(event) {
                var data_chart = {{ data_chart|safe }};
                // Draw the PGS Scores per trait category piechart
                draw_trait_category_piechart(data_chart);
                // Build the categories and sub-categories
                display_category_list(data_chart);
              });
            </script>

            <h3>
              <span>PGS Scores per trait category</span>
              <span id="reset_cat" class="btn btn-pgs pgs_no_icon_link" onclick="reset_showhide_trait();"><i class="fa fa-refresh"></i> Reset view</span>
            </h3>

            <div class="trait_graph_container clearfix">
              <div class="trait_piechart_container clearfix">
                <div class="trait_piechart">
                  <canvas id="trait_cat_piechart" width="300" height="250"></canvas>
                </div>
              </div>
              <div class="trait_cat_container clearfix">
                <div id="trait_cat"></div>
                <div id="trait_subcat"></div>
              </div>
            </div>
          </div>
          <h3>Traits</h3>
          {% endif %}
          {% render_table table %}
        {% else %}
            <p>Not implemented yet.</p>
        {% endif %}
        </section>
    </div>
{% endblock %}
