{% extends 'catalog/base.html' %}

{% block title %}Download Information{% endblock %}


{% block content %}

<nav aria-label="You are here:">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
    <li class="breadcrumb-item">Downloads</li>
  </ol>
</nav>


<h2 class="mr-auto">Downloads</h2>

<div class="content_container">
  <div class="table-of-contents">
    <nav role="navigation">
      <h5>Table of Contents</h5>
      <ul>
        <li><a href="#dl_ftp_list">Available PGS Catalog downloads</a></li>
        <li><a href="#dl_ftp">PGS Catalog FTP structure</a></li>
        <li><a href="#dl_ftp_metadata">PGS Catalog Metadata</a></li>
        <li>
          <a href="#dl_scoring_files">PGS Scoring Files</a>
          <ul>
            <li>
              <a href="#dl_ftp_scoring">Formatted Files</a>
              <ul>
                <li><i class="fas fa-hashtag pgs_color_1"></i> <a href="#scoring_header">Header</a><span class="pl-2 pr-2">—</span><i class="fas fa-th pgs_color_1"></i> <a href="#scoring_columns">Columns</a><span class="pl-2 pr-2">—</span><i class="fas fa-copy pgs_color_1"></i> <a href="#scoring_changes">Format changes</a><span class="pl-2 pr-2">—</span><i class="far fa-copy pgs_color_1"></i> <a href="#scoring_previous">Previous formats</a></li>
              </ul>
            </li>
            <li>
              <a href="#dl_ftp_scoring_hm_pos">Harmonized Files</a>
              <ul>
                <li><i class="fas fa-file-signature pgs_color_1"></i> <a href="#hm_pos_fn">File name</a><span class="pl-2 pr-2">—</span><i class="fas fa-hashtag pgs_color_1"></i> <a href="#hm_pos_header">Header</a><span class="pl-2 pr-2">—</span><i class="fas fa-th pgs_color_1"></i> <a href="#hm_pos_columns">Additional Columns</a></li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</div>


<section>
  <h3 id="dl_ftp_list">Available PGS Catalog downloads</h3>
  <table class="table table-bordered table_pgs_h">
    <tbody>
      <tr>
        <td>
          <span class="pgs_h_big_header">PGS Scoring Files & Metadata</span>
          <div class="mt-1">
            <small>Individual PGS variants scoring and metadata files</small>
          </div>
        </td>
        <td><a class="btn btn-pgs pgs_no_icon_link pgs-ftp-btn" href="{{ pgs_ftp_http_root }}/scores/" target="_blank"><span class="fas fa-folder"></span> View PGS Score Directories (FTP)</a></td>
      </tr>
      <tr>
        <td>
          <span class="pgs_h_big_header">PGS Catalog Metadata</span>
          <div class="mt-1">
            <small>Available PGS global metadata files</small>
          </div>
        </td>
        <td><a class="btn btn-pgs pgs_no_icon_link pgs-ftp-btn" href="{{ pgs_ftp_http_root }}/metadata/" target="_blank"><span class="fas fa-folder"></span> Bulk Metadata Downloads (FTP)</a></td>
      </tr>
      <tr>
        <td>
          <span class="pgs_h_big_header">PGS Catalog REST API</span>
          <div class="mt-1">
            <small>Programmatic access to the PGS Catalog metadata</small>
          </div>
        </td>
        <td><a class="btn btn-pgs pgs_no_icon_link" href="/rest/"><span class="fas fa-code"></span> REST API endpoint documentation</a></td>
      </tr>
      <tr>
        <td>
          <span class="pgs_h_big_header">Python package <span class="pgs_color_1">pgscatalog_utils</span></span>
          <div class="mt-1">
            <small>A collection of tools, such as scoring files download</small>
          </div>
        </td>
        <td><a class="btn btn-pgs pgs_no_icon_link" href="https://pypi.org/project/pgscatalog-utils/"><span class="fa-brands fa-python"></span> Python package documentation</a></td>
      </tr>
    </tbody>
  </table>
</section>


<section>
  <h3 id="dl_ftp">PGS Catalog FTP structure</h3>
  <p>The PGS Catalog FTP allows for consistent access to the bulk downloads, and is indexed by Polygenic Score (PGS) ID to allow programmatic access to score level data. The following diagram illustrates the FTP structure:</p>

  <div class="pgs_formatted_block">
    <pre>
<a href="{{ pgs_ftp_http_root }}">{{ pgs_ftp_root }}</a>
  ├── <span class="pgs_hl">pgs_scores_list.txt</span> <small>(list of Polygenic Score IDs)</small>
  ├── <a href="{{ pgs_ftp_http_meta }}"><b>metadata/</b></a>
  │     ├── <span class="pgs_hl">pgs_all_metadata.xlsx</span>
  │     ├── <span class="pgs_hl">pgs_all_metadata_</span>[<span class="pgs_hl_i">sheet_name</span>]<span class="pgs_hl">.csv</span> <small>(7 files)</small>
  │     ├── <span class="pgs_hl">pgs_all_metadata.tar.gz</span> <small>(xlsx + csv files)</small>
  │     ├── <a href="{{ pgs_ftp_http_meta }}/publications/"><b>publications/</b></a> <small>(metadata for large studies)</small>
  │     └── <a href="{{ pgs_ftp_http_meta }}/previous_releases/"><b>previous_releases/</b></a>
  └── <a href="{{ pgs_ftp_http_root }}/scores"><b>scores/</b></a>
        ├── <a href="{{ pgs_ftp_http_root }}/scores/PGS000001/"><b>PGS000001/</b></a>
        │     ├── <a href="{{ pgs_ftp_http_root }}/scores/PGS000001/Metadata/"><b>Metadata/</b></a>
        │     │     ├── <span class="pgs_hl">PGS000001_metadata.xlsx</span>
        │     │     ├── <span class="pgs_hl">PGS000001_metadata_</span>[<span class="pgs_hl_i">sheet_name</span>]<span class="pgs_hl">.csv</span> <small>(7 files)</small>
        │     │     ├── <span class="pgs_hl">PGS000001_metadata.tar.gz</span> <small>(xlsx + csv files)</small>
        │     │     └── <b>archived_versions/</b>
        │     └── <a href="{{ pgs_ftp_http_root }}/scores/PGS000001/ScoringFiles"><b>ScoringFiles/</b></a>
        │           ├── <span class="pgs_hl">PGS000001.txt.gz</span>
        │           ├── <b>archived_versions/</b>
        │           └── <a href="{{ pgs_ftp_http_root }}/scores/PGS000001/ScoringFiles/Harmonized"><b>Harmonized/</b></a>
        │                 ├── <span class="pgs_hl">PGS000001_hmPOS_GRCh37.txt.gz</span>
        │                 └── <span class="pgs_hl">PGS000001_hmPOS_GRCh38.txt.gz</span>
        ├── <a href="{{ pgs_ftp_http_root }}/scores/PGS000002/"><b>PGS000002/</b></a>
        &middot;     ├─ &middot;&middot;&middot;
        &middot;     └─ &middot;&middot;&middot;
        &middot;
        └── <b>PGS00XXXX/</b>
              ├─ &middot;&middot;&middot;
              └─ &middot;&middot;&middot;</pre>
  </div>
</section>

<section>
  {% include "catalog/downloads/metadata_files.html" %}
</section>

<section>
  <h3 class="mr-3" id="dl_scoring_files">PGS Scoring Files</h3>
</section>

<section>
  {% include "catalog/downloads/formatted_files.html" %}
</section>

<section class="mt-5">
  {% include "catalog/downloads/harmonized_files.html" %}
</section>

{% endblock %}
