{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ trait.label }} [{{ trait_id_with_colon }}] (Polygenic Trait){% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
        <li class="breadcrumb-item"><a href="/browse/traits/">Traits</a></li>
        <li class="breadcrumb-item">{{ trait.id }}</li>
      </ol>
    </nav>

    <h2>Trait: <span class="pgs_title">{{ trait.label }}</span></h2>

    <section>
      <table class="table table-bordered table_pgs_h mt-4">
        <tbody>
          <tr>
            <td class="table_title table_title_c" colspan="2">
              {% if 'EFO' in trait.id %}
                Experimental Factor Ontology (EFO) Information
              {% else %}
                Trait Information
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Identifier</td>
            <td><b>{{ trait.display_ext_url|safe }}</b></td>
          </tr>
          {% if trait.description %}
            <tr>
              <td>Description</td>
              <td>
                {% if trait.description_list|length > 1 %}
                  <ul>
                    {% for desc in trait.description_list %}
                      <li>{{ desc }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <span class="more">{{ trait.description }}</span>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if trait.category_list|length > 1 %}
            <td>Trait categories</td>
          {% else %}
            <td>Trait category</td>
          {% endif %}
          <td class="trait_categories">
            {% for category in trait.category_list %}
              <div>
                <span class="trait_colour" style="background-color:{{ category.colour }}"></span>
                <b>{{ category.label }}</b>
              </div>
            {% endfor %}
          </td>
          {% if trait.synonyms %}
            <tr>
              {% if trait.synonyms_list|length > 1 %}
                <td>Synonyms</td>
              {% else %}
                <td>Synonym</td>
              {% endif %}
              <td>
                {% if trait.synonyms_list|length > 1 %}
                  <a class="toggle_btn" data-toggle="tooltip" data-placement="right" data-delay="500" id="trait_synomyms" title="Click to show/hide the list of synonyms"><b>{{ trait.synonyms_list|length }}</b> synonyms <i class="fas fa-plus-circle"></i></a>
                  <div class="toggle_list" id="list_trait_synomyms">
                    <ul>
                    {% for synonym in trait.synonyms_list %}
                      <li>{{ synonym }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  {{ trait.synonyms_list.0 }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if trait.mapped_terms %}
            <tr>
              {% if trait.mapped_terms_list|length > 1 %}
                <td>Mapped terms</td>
              {% else %}
                <td>Mapped term</td>
              {% endif %}
              <td>
                {% if trait.mapped_terms_list|length > 1 %}
                  <a class="toggle_btn" data-toggle="tooltip" data-placement="right"  data-delay="500" id="trait_mapped_terms" title="Click to show/hide the list of mapped terms"><b>{{ trait.mapped_terms_list|length }}</b> mapped terms <i class="fas fa-plus-circle"></i></a>
                  <div class="toggle_list" id="list_trait_mapped_terms">
                    <ul>
                    {% for mapped_term in trait.mapped_terms_list %}
                      <li>{{ mapped_term }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  {{ trait.mapped_terms_list.0 }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if trait.display_child_traits_list|length > 0 %}
            <tr>
              <td>Child trait(s)</td>
              <td>
                {% if trait.display_child_traits_list|length > 1 %}
                  <a class="toggle_btn" data-toggle="tooltip" data-placement="right"  data-delay="500" id="child_traits" title="Click to show/hide the list of the child traits in PGS Catalog"><b>{{ trait.display_child_traits_list|length }}</b> child traits <i class="fas fa-plus-circle"></i></a>
                  <div class="toggle_list" id="list_child_traits">
                    <ul>
                    {% for child_trait in trait.display_child_traits_list %}
                      <li>{{ child_trait|safe }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  {{ trait.display_child_traits_list.0|safe }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </section>

    <section>
    <h3>Associated Polygenic Score(s)</h3>

      <!-- Ancestry form -->
      {% if ancestry_form %}
        {{ ancestry_form|safe }}
      {% endif %}
      {% if trait_scores_child_count and trait_scores_direct_count %}
        <div class="mb-3" style="margin-top:auto">
          <div class="pgs_note pgs_note_1">
            <div>
              <span>Note: </span>This table shows all PGS for "<b>{{ trait.label }}</b>" and any child terms of this trait in the EFO hierarchy by default.
              <span class="custom-control custom-switch mt-2">
                <input type="checkbox" class="custom-control-input" {% if include_children %}checked{% endif %} id="include_children" name="include_children" value="{{ trait.label }}"/>
                <label class="custom-control-label" for="include_children"> Include PGS Score(s) for child traits</label>
              </span>
            </div>
          </div>
        </div>
      {% elif trait_scores_child_count  %}
        <div class="mb-3" style="margin-top:auto">
          <div class="pgs_note pgs_note_1">
            <div>
              <span>Note: </span>This table shows PGS for child terms of "<b>{{ trait.label }}</b>" in the EFO hierarchy.
            </div>
          </div>
        </div>
      {% endif %}

    {% render_table table_scores %}
    </section>

    <section>
      <h3 class="mb-0">
        <span>Performance Metrics</span><span class="info-icon-title" data-toggle="tooltip" data-placement="right" title="{{ pgs_table_helper.perf_metrics }}"><i class="fas fa-info-circle"></i></span>
      </h3>
      <p>{{ performance_disclaimer|safe }}</p>
      {% render_table table_performance %}
      <h4>
        <span>Evaluated Samples</span><span class="info-icon-title" data-toggle="tooltip" data-placement="right" title="{{ pgs_table_helper.sample_sets }}"><i class="fas fa-info-circle"></i></span>
      </h4>
      {% render_table table_performance_samples %}
    </section>
{% endblock %}
