{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ trait.label }} (Polygenic Trait){% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">PGS Catalog</a></li>
        <li class="breadcrumb-item"><a href="../../browse/traits/">Traits</a></li>
        <li class="breadcrumb-item">{{ trait.id }}</li>
      </ol>
    </nav>

    <h2>Trait: <b>{{ trait.label }}</b></h2>

    <section>
    {% if 'EFO' in trait.id %}
      <h3>Experimental Factor Ontology (EFO) Information</h3>
    {% else %}
      <h3>Trait Information</h3>
    {% endif %}
      <table class="table table-bordered table_pgs_h">
        <tbody>
          <tr>
            <td>Identifier</td>
            <td><b><a href="{{ trait.url }}">{{ trait.id }}</a></b></td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              {% if desc_list %}
                <ul>
                  {% for desc in desc_list %}
                    <li>{{ desc }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <b>{{ trait.description }}</b>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
    <h3>Associated Polygenic Score(s)</h3>
    {% render_table table_scores %}
    </section>

    <section>
    <h3>PGS Performance Metrics</h3>
    <p>{{ performance_disclaimer|safe }}</p>
    {% render_table table_performance %}
    <h4>Evaluated Samples</h4>
    {% render_table table_performance_samples %}
    </section>
{% endblock %}
