{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

{% block title %}{{ trait.label }} (Polygenic Trait){% endblock %}

{% block content %}
    <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs columns">
        <li><a href="../../">PGS Catalog</a></li>
        <li><a href="../../browse/traits/">Traits</a></li>
        <li>
            <span class="show-for-sr">Current: </span> {{ trait.id }}
        </li>
    </ul>
    </nav>

    <h2>Trait: {{ trait.label }}</h2>
    <section>
    <h3>Information</h3>
    <p>Experimental Factor Ontology ID: <a href="{{ trait.url }}"><b>{{ trait.id }}</b> <i class="icon icon-common icon-external-link-alt"></i> </a></p>
    <p>EFO Trait Description:
    {% if desc_list %}
        <br /><ul>
         {% for desc in desc_list %}
             <li>{{ desc }}</li>
         {% endfor %}
         </ul>
    {% else %}
         <b>{{ trait.description }}</b>
    {% endif %}</p>
    </section>

    <section>
    <h3>Associated PGS</h3>
    {% render_table table_scores %}
    </section>

    <section>
    <h3>PGS Performance Metrics</h3>
    <p>{{ performance_disclaimer|safe }}</p>
    {% render_table table_performance %}
    <h4>Evaluated Samples</h4>
    {% render_table table_performance_samples %}
    </section>
{% endblock %}
