{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}The Polygenic Score Catalog{% endblock %}

{% block content %}
<div class="columns">
    <section>
      <div class="release_label">
        <i class="icon icon-common pgs_color_1" data-icon="&#xf073;"></i> Latest update: <b>{{ release.date }}</b>
      </div>
        <div class="mb-5" style="text-align:center">
          <h2><b>The Polygenic Score (PGS) Catalog</b></h2>
          <h5 class="mt-0">An open database of polygenic scores and the relevant metadata needed to apply and evaluate them correctly.</h5>
        </div>


        <div class="row no-gutters pgs_section">
          <div class="col">
            <div class="pgs_section_title">Explore data</div>
            <p class="mb-2">In the current PGS Catalog you can <b>browse</b> the scores and metadata through the following categories:</p>
          </div>
        </div>
        <div class="row no-gutters pgs_browse">
          <div class="col-xs-6 col-md-4">
            <a class="pgs_no_icon_link clearfix" href="../../browse/all/">
              <div>Scores</div>
              <div class="pgs_browse_score clearfix">
                <div class="icon icon-conceptual icon-dna"></div><div>{{ num_pgs }}</div>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a class="pgs_no_icon_link" href="../../browse/traits/">
              <div>Traits</div>
              <div class="icon icon-species" data-icon="H"> {{ num_traits }}</div>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a class="pgs_no_icon_link" href="../../browse/studies/">
              <div>Publications</div>
              <div class="icon icon-common" data-icon="&#xf2ec;"> {{ num_pubs }}</div>
            </a>
          </div>
        </div>


        <div class="row pgs_desc">
          <div class="col-xs-10 col-md-6">
            <div>What is a <span>Polygenic Score</span></div>
            <p class="mb-0">
              A polygenic score, also called a polygenic risk score, genetic risk score, or genome-wide score, is a number based on variation in multiple genetic loci and their associated weights.<br />
              It serves as the best prediction for the trait that can be made when taking into account variation in multiple genetic variants
            </p>
          </div>
          <div class="col-xs-10 col-md-6">
            <div>About the <span>PGS Catalog</span></div>
            <p class="mb-0">&lt; <i>Insert text about PGS Catalog here</i> &gt; ... <a href="/about">see more about PGS Catalog</a></p>
          </div>
        </div>


        <div class="row pgs_desc">
          <div class="col-xs-10 col-md-6">
            <div>Downloads</div>
            <p>
              The PGS Catalog provides downloads of the variants and weights per study, and all the meta data.
            </p>
            <p class="mb-0">
              <i class="icon icon-common" data-icon="&#xf019;"></i> <a href="../../downloads/">View available PGS Catalog downloads</a>
            </p>
          </div>
          <div class="col-xs-10 col-md-6">
            <div>Feedback & Contact</div>
            <p>
              <b>Please take our short <a href="https://www.surveymonkey.co.uk/r/PGS_Catalog">user survey</a> to guide our future development!</b>
            </p>
            <p class="mb-0">
              To submit a PGS to the catalog, provide feedback, or ask questions please contact the PGS Catalog team at <a href="mailto:{{ pgs_contact }}">{{ pgs_contact }}</a>.
            </p>
          </div>
        </div>


        <div class="row no-gutters pgs_section">
          <div class="col">
            <div class="pgs_section_title">Funding</div>
            <p>The development of the PGS Catalog is supported by</p>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col" style="text-align:center">
            <a class="pgs_no_icon_link" href="{{ uoc_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/UofCambridge.png' %}" alt="University of Cambridge"></a>
          </div>
          <div class="col" style="text-align:center">
            <a class="pgs_no_icon_link" href="{{ ebi_url }}" style="link:none"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/EMBL_EBI.png' %}" alt="EMBL-EBI"></a>
          </div>
          <div class="col" style="text-align:center">
            <a class="pgs_no_icon_link" href="{{ hdr_uk_cam_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/HDR-UK.png' %}" alt="HDR-UK (Cambridge)"></a>
          </div>
          <div class="col" style="text-align:center">
            <a class="pgs_no_icon_link" href="{{ baker_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/Baker_Logo.png' %}" alt="Baker Heart and Diabetes Institute"></a>
          </div>
        </div>
    </section>
</div>
{% endblock %}
