{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}The Polygenic Score Catalog{% endblock %}

{% block content %}
<div class="columns">
  <section>

    <!-- Release -->
    <div class="release_label">
      <div>
        <span data-toggle="tooltip" data-placement="bottom" data-html="true" title="New Polygenic Scores: <b>{{ release.score_count }}</b><br />New Publications: <b>{{ release.publication_count }}</b>">
          <i class="far fa-calendar-check pgs_color_1"></i> <a href="/latest_release">Latest release: <b>{{ release.date }}</b></a>
        </span>
      {% if is_pgs_curation_site %}
        <i class="fas fa-arrow-right" class="pl-3 pr-3"></i>
        <a href="/releases"  data-toggle="tooltip" data-placement="bottom" title="Releases details"><i class="fas fa-chart-line pgs_color_1"></i></a>
      {% endif %}
      </div>
    </div>

    <!-- Title -->
    <div class="pgs_centered mb-4">
      <h2><b>The Polygenic Score (PGS) Catalog</b></h2>
      <h5 class="mt-0">An open database of polygenic scores and the relevant metadata required for accurate application and evaluation.</h5>
    </div>

    <!-- Large search bar -->
    <div class="search_box_home_container mb-5">
      <div class="search_box_home">
        <form class="input-group search_form" id="search_form" action="/search" method="get">
          <input class="form-control" id="q" name="q" type="text" placeholder="Search the PGS Catalog" spellcheck="false">
          <div class="input-group-append">
            <button type="button" class="btn btn-pgs pgs_no_icon_link" id="search_btn" value="Submit">
              <span class="fas fa-search"></span>
            </button>
          </div>
        </form>
        <div class="search_examples mt-1">
          <span class="pr-2">Examples:</span>{{ pgs_search_examples|safe }}
        </div>
      </div>
    </div>

    <!-- PGS announcement -->
    {% if announcement and is_pgs_live_site %}
      <div class="pgs_centered mb-4">
        <div class="pgs_banner">{{ announcement|safe }}</div>
      </div>
    {% endif %}

    <!-- PGS Browse -->
    <div class="row no-gutters pgs_section mt-5 mb-2">
      <div class="col">
        <div class="pgs_section_title">Explore the Data</div>
      </div>
    </div>
    <div class="row no-gutters pgs_centered">
      <div class="col">
        <p class="mb-2">In the current PGS Catalog you can <b>browse</b> the scores and metadata through the following categories:</p>
      </div>
    </div>
    <div class="row no-gutters pgs_browse">
      <div class="col-xs-6 col-md-4">
        <a id="browse_score_btn" class="pgs_no_icon_link clearfix" href="/browse/scores/">
          <div>Polygenic Scores</div>
          <div><i class="fas fa-dna pgs_color_white"></i> {{ num_pgs }}{% if num_pgs_not_released %}*{% endif %}</div>
          {% if num_pgs_not_released %}
            <div class="pgs_color_white">
              <i class="fas fa-asterisk pgs_color_white" ></i> <b>{{ num_pgs_not_released }}</b> not yet released
            </div>
          {% endif %}
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a id="browse_trait_btn" class="pgs_no_icon_link" href="/browse/traits/">
          <div>Traits</div>
          <div class="icon icon-species" data-icon="H"> {{ num_traits }}{% if num_traits_not_released %}*{% endif %}</div>
          {% if num_traits_not_released %}
            <div class="pgs_color_white">
              <i class="fas fa-asterisk pgs_color_white"></i> <b>{{ num_traits_not_released }}</b> not yet released
            </div>
          {% endif %}
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a id="browse_publication_btn" class="pgs_no_icon_link" href="/browse/studies/">
          <div>Publications</div>
          <div class="icon icon-common" data-icon="&#xf2ec;"> {{ num_pubs }}{% if num_pubs_not_released %}*{% endif %}</div>
          {% if num_pubs_not_released %}
            <div class="pgs_color_white">
              <i class="fas fa-asterisk pgs_color_white"></i> <b>{{ num_pubs_not_released }}</b> not yet released
            </div>
          {% endif %}
        </a>
      </div>
    </div>

    <!-- "Submit PGS" button -->
    <div class="row no-gutters pgs_section mb-5">
      <div class="col">
        <a class="btn btn-pgs-2 pgs_no_icon_link" href="/submit/">
          <span class="fas fa-file-import pr-2"></span>Submit a PGS
        </a>
      </div>
    </div>

    <div class="row pgs_desc">
      <div class="col-xs-10 col-md-6">
        <div>What is a <span>PGS</span>?</div>
        <p>
            <b>A polygenic score (PGS)</b> aggregates the effects of many genetic variants into a single number which predicts genetic predisposition for a phenotype.
            <b>PGS</b> are typically composed of hundreds-to-millions of genetic variants (usually <span title="SNPs" data-content="Single Nucleotide Polymorphisms" class="pgs_helpover">SNPs</span>) which are combined using a weighted sum of allele dosages multiplied by their corresponding effect sizes, as estimated from a relevant genome-wide association study (<span title="GWAS" data-content="Genome-wide association studies" class="pgs_helpover">GWAS</span>).
        </p>
        <p class="mb-0">
            <b>PGS</b> nomenclature is heterogeneous: they can also be referred to as <b>genetic scores</b> or <b>genomic scores</b>, and as <b>polygenic risk scores (PRS)</b> or <b>genomic risk scores (GRS)</b> if they predict a discrete phenotype, such as a disease.
        </p>
      </div>
      <div class="col-xs-10 col-md-6">
        <div>About the <span>PGS Catalog</span></div>
        <p>
          The <span title="PGS Catalog" data-content="Polygenic Score (PGS) Catalog" class="pgs_helpover"><b>PGS Catalog</b></span> is an open database of published <b>polygenic scores (PGS)</b>.
            Each <b>PGS</b> in the <b>Catalog</b> is consistently annotated with relevant metadata; including scoring files (variants, effect alleles/weights), annotations of how the PGS was developed and applied, and evaluations of their predictive performance.
        </p>
        <p class="mb-0">
          More about the PGS Catalog project, descriptions of the data, and publication eligibility criteria can be found in our <a href="/about"><b>documentation</b></a> and recent <a href="{{catalog_publication_url}}"><b>publication</b></a>.
        </p>
      </div>
    </div>


    <div class="row pgs_desc">
      <div class="col-xs-10 col-md-6">
        <div>Downloads</div>
        <p>
          Bulk <b>downloads</b> of PGS metadata and scoring files (variants, effect alleles/weights) needed to calculate PGS on your own data are available from the website and FTP.
        </p>
        <p class="mb-2">
          <a class="link-with-btn" href="/downloads/">
            <i class="fas fa-download"></i><span>View available PGS Catalog <b>downloads</b>.</span>
          </a>
        </p>
        <p class="mb-2">
          <a class="link-with-btn" href="/rest/">
            <i class="fas fa-code"></i><span>Programmatic access to the Catalog metadata through our <b>REST API</b>.</span>
          </a>
        </p>
        <p class="mb-0">
          <a class="link-with-btn" href="https://pypi.org/project/pgscatalog-utils/">
            <i class="fa-brands fa-python"></i><span>Command line download via the <b>pgscatalog_utils</b> Python package.</span>
          </a>
        </p>
      </div>
      <div class="col-xs-10 col-md-6">
        <div>Feedback & Contact</div>
        <p>
          To <b>submit a PGS to the catalog</b>, <b>provide feedback</b>, or <b>ask questions</b>: contact the PGS Catalog team at <a href="mailto:{{ pgs_contact }}">{{ pgs_contact }}</a>!
        </p>
        <p class="mb-0">
          <b>Recommend missing PGS publications and scores</b> for inclusion in the Catalog using this <a href="/report_study"><i class="fas fa-clipboard-list pgs_color_1"></i> <b>form</b></a>.
        </p>
      </div>
    </div>


    <div class="row no-gutters pgs_section">
      <div class="col">
        <h5 class="mb-3">Development of the <b>PGS Catalog</b> is supported by:</h5>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col pgs_centered">
        <a class="pgs_no_icon_link" href="{{ uoc_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/UofCambridge.png' %}" alt="University of Cambridge"></a>
      </div>
      <div class="col pgs_centered">
        <a class="pgs_no_icon_link" href="{{ ebi_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/EMBL_EBI.png' %}" alt="EMBL-EBI"></a>
      </div>
      <div class="col pgs_centered">
        <a class="pgs_no_icon_link" href="{{ hdr_uk_cam_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/HDR-UK.png' %}" alt="HDR-UK (Cambridge)"></a>
      </div>
      <div class="col pgs_centered">
        <a class="pgs_no_icon_link" href="{{ baker_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/Baker_Logo.png' %}" alt="Baker Heart and Diabetes Institute"></a>
      </div>
      <div class="col pgs_centered">
        <a class="pgs_no_icon_link" href="{{ nhgri_url }}"><img class="img-fluid pgs_big_icons" src="{% static 'catalog/imgs/NHGRI_Logo.png' %}" alt="National Human Genome Research Institute"></a>
      </div>
    </div>

    <!-- NIH compliance note -->
    <div class="row no-gutters pgs_section">
      <div class="bordered_content_low_contrast centered_note">
        {{ nih_note|linebreaksbr|safe }}
      </div>
    </div>
  </section>
</div>
{% endblock %}
