{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}The Polygenic Score Catalog{% endblock %}

{% block content %}
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs columns">
        <li><a href="">PGS Catalog</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Home
        </li>
    </ul>
</nav>
<div class="columns">
    <section>
        <div style="text-align:center">
        <h2>The Polygenic Score (PGS) Catalog</h2>
        <h4>An open database of
            <span title="also known as genomic or polygenic risk scores" style="text-decoration:underline dotted">polygenic scores</span>
            and the <span title="sample descriptions and performance metrics" style="text-decoration:underline dotted">relevant metadata</span>
            needed to apply and evaluate them correctly.</h4>
        </div>
        <p>The catalog currently contains <b>{{ num_pgs }} PGS</b> for <b>{{ num_traits }} traits</b>, and encompasses data from <b>{{ num_pubs }} publications</b>.
            In the current PGS Catalog you can find the scores and metadata through the following:</p>
        <p>
        <h5><a href="../../browse/all/"><i class="icon icon-common" data-icon="&#x62;"></i>   Browse PGS included in the catalog</a></h5>
        <h5><a href="../../browse/studies/"><i class="icon icon-common" data-icon="&#x62;"></i>   Browse Publications included in the catalog</a></h5>
        <h5><a href="../../browse/traits/"><i class="icon icon-common" data-icon="&#x62;"></i>   Browse Traits with PGS included in the catalog</a></h5>
        <h5><a href="../../downloads/"><i class="icon icon-common" data-icon="&#xf019;"></i>  View available PGS catalog downloads</a></h5>
        </p>

        <h3>Features Under Development</h3>
        <ul>
            <li><b>Including more PGS & developing a deposition interface.</b> In its current pilot stage the catalog includes a smaller exemplar set of traits and PGS (see <a href="../../docs/#eligibility">catalog inclusion criteria</a>).
                The PGS Catalog is not limited to these traits - we plan to actively curate PGS for inclusion while also developing an interface in which authors can deposit PGS or PGS evaluations using a standard template.</li>
            <li><b>Search functionality and better integration of the trait ontology.</b> The catalog will be fully searchable, and use the trait ontology to provide PGS for related traits.</li>
            <li><b>Better download & programmatic access to the catalog.</b> The main goal of the catalog is to distribute the scores and their annotations in a consistent and easy to use format.
                We will customize our download formats, and functionality (mostly likely a cart/checkout model, and API) based on user feedback.</li>
            <li><b>PGS Harmonized to Current Genome Builds.</b> Currently PGS provided through the database are described
                by standard column names & descriptions, along with the genome build it was developed with (<i>if known</i>).
                In the future we plan to harmonize all PGS across genome builds to reduce ambiguity.
                </li>
        </ul>
        <h3>Feedback & Contact</h3>
        <div style="text-align:center">
            <h3><b>Please take our short <a href="https://www.surveymonkey.co.uk/r/PGS_Catalog">user survey</a> to guide our future development!</b></h3>
            To submit a PGS to the catalog, provide feedback, or ask questions please contact the PGS Catalog team at <a href="mailto:pgs-info@ebi.ac.uk">pgs-info@ebi.ac.uk</a>.
        </div>
        <h3>Funding</h3>
        <p>The development of the PGS Catalog has been supported by:</p>
        <p><a href="https://www.phpc.cam.ac.uk/"><img src="{% static 'catalog/imgs/UofCambridge.png' %}" alt="University of Cambridge" style="height:75px"></a> &emsp;
        <a href="https://www.ebi.ac.uk/" style="link: none"><img src="{% static 'catalog/imgs/EBI.png' %}" alt="EMBL-EBI" style="height:70px"></a> &emsp;
        <a href="https://www.hdruk.ac.uk/about/structure/hdr-uk-cambridge/"><img src="{% static 'catalog/imgs/HDR-UK.png' %}" alt="HDR-UK (Cambridge)" style="height:70px"></a>&emsp;
        <a href="https://baker.edu.au/"><img src="{% static 'catalog/imgs/Baker_Logo.png' %}" alt="Baker Heart and Diabetes Institute" style="height:70px"></a></p>
    </section>
</div>
{% endblock %}
