{% extends 'catalog/base.html' %}

{% block title %}PGS Catalog - labs{% endblock %}

{% block content %}

  <nav aria-label="You are here:">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
      <li class="breadcrumb-item"><span class="fas fa-flask pr-1 pgs_color_1" style="line-height:21px"></span>Labs</li>
    </ol>
  </nav>

  <section>
    <h2><span class="fas fa-flask pgs_color_1 pr-2" style="font-size:28px"></span><span style="color:#222;font-weight:200">Labs</span></h2>

    <div class="mb-4">
      <p>New feature(s) developed in the PGS Catalog:</p>
    </div>
  </section>

  <section>
    <!-- "Benchmark" button -->
    <!-- <div class="row no-gutters pgs_section mb-5">
      <div class="col pgs_benchmark" style="justify-content:left">
        <a class="pgs_no_icon_link" href="/labs/benchmarking">
          <div>Benchmarking PGS</div>
          <div>
            <span class="pgs_benchmark_logo pr-2"></span>
          </div>
        </a>
      </div>
    </div> -->

    <div class="row no-gutters pgs_section mb-5">
      <div class="col-xs-6 col-md-4">
        <div class="pgs_browse_item">
          <div class="pgs_data_access">
            <div>Benchmarking PGS</div>
            <p>
              Benchmark PGS scores on same traits using the same set of cohorts
            </p>
          </div>
          <a class="browse_link btn btn-pgs pgs_no_icon_link" href="/labs/benchmarking"><span class="pgs_benchmark_logo pr-2" style="color:#FFF"></span>Benchmarking</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
