{% extends 'catalog/base.html' %}

{% block title %}PGS Catalog - labs{% endblock %}

{% block content %}

  <nav aria-label="You are here:">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
      <li class="breadcrumb-item"><span class="fas fa-flask pr-1 pgs_color_1" style="line-height:21px"></span>Labs</li>
    </ol>
  </nav>

  <section>
    <h2><span class="fas fa-flask pr-2" style="font-size:28px"></span><span>Labs</span></h2>

    <div class="mb-4">
      <p>New feature(s) developed in the PGS Catalog:</p>
    </div>
  </section>

  <section>
    <!-- Feature section -->
    <div class="row no-gutters pgs_section mb-5">
      [ Place holder for new feature in development ]
    </div>
  </section>
{% endblock %}
