{% extends 'catalog/base.html' %}

{% block title %}PGS Catalog - labs{% endblock %}

{% block content %}

  <nav aria-label="You are here:">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
      <li class="breadcrumb-item"><span class="fas fa-flask pr-1 pgs_color_1" style="line-height:21px"></span>Labs</li>
    </ol>
  </nav>

  <section>
    <h2><span class="fas fa-flask pr-2" style="font-size:28px"></span><span>Labs</span></h2>

    <div class="mb-4">
      <p>New feature(s) developed in the PGS Catalog:</p>
    </div>
  </section>

  <section>
    <div class="row no-gutters pgs_section mb-5" style="gap: 40px">
      <!-- "Benchmark" button -->
      <div class="pgs_benchmark" style="justify-content:left">
        <a class="pgs_no_icon_link" href="/labs/benchmarking">
          <div>Benchmarking PGS</div>
          <div><span class="pgs_benchmark_logo"></span></div>
        </a>
      </div>
      <!-- "Score Validator" button -->
      <div class="pgs_benchmark" style="justify-content:left">
        <a class="pgs_no_icon_link" href="/labs/validate_scoring_files_client">
          <div>Score Validator</div>
          <div><span class="score_validator_logo"></span></div>
        </a>
      </div>
    </div>
  </section>

{% endblock %}
