{% extends 'catalog/base.html' %}

{% block title %}Upcoming Changes - placeholder{% endblock %}

{% block content %}

  <nav aria-label="You are here:">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
      <li class="breadcrumb-item">Notice</li>
      <li class="breadcrumb-item">Upcoming Changes - placeholder</li>
    </ol>
  </nav>

  <h2 class="pgs_page_title">Notice: Upcoming Changes - placeholder</h2>

  <p>[ News placeholder ]</p>

{% endblock %}
