{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}


{% block title %}{{publication.firstauthor}}, {{publication.journal}} ({{publication.pub_year}}) (Publication){% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../">PGS Catalog</a></li>
        <li class="breadcrumb-item"><a href="../../browse/studies/">Publications</a></li>
        <li class="breadcrumb-item">{{ publication.id }}</li>
      </ol>
    </nav>

    <section>
      <h2>PGS Publication: <b>{{ publication.id }}</b></h2>
      <table class="table table-bordered table_pgs_h">
        <tbody>
          <tr>
            <td>Title</td>
            <td><b>{{ publication.title }}</b></td>
          </tr>
          <tr>
            <td>PubMed ID</td>
            <td>
              <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ publication.PMID }}" style="margin-right:15px">{{ publication.PMID }}</a>
              (<a href="http://europepmc.org/abstract/MED/{{ publication.PMID }}">Europe PMC</a>)
            </td>
          </tr>
          <tr>
            <td>doi</td>
            <td><a href=https://doi.org/{{ publication.doi }}>{{ publication.doi }}</a></td>
          </tr>

          <tr>
            <td>Publication Date</td>
            <td><b>{{ publication.date_publication }}</b></td>
          </tr>
          <tr>
            <td>Journal</td>
            <td><b><i>{{ publication.journal }}</i></b></td>
          </tr>
          <tr>
            <td>Authors</td>
            <td><span class="more">{{ publication.authors }}</span></td>
          </tr>
        </tbody>
      </table>

    </section>

    <section>
    {% if table_scores or table_evaluated %}
        <h3>PGS Associated with {{ publication.id }}</h3>
        {% if table_scores %}
            <h4>PGS Developed By This Study</h4>
            {% render_table table_scores %}
        {% endif %}
        {% if table_evaluated %}
            <h4>External PGS Evaluated By This Study</h4>
            {% render_table table_evaluated %}
        {% endif %}
    {% endif %}
    </section>

    <section>
    <h3>PGS Performance Metrics</h3>
    <p>{{ performance_disclaimer|safe }}</p>

    {% render_table table_performance %}
    <h4>Evaluated Samples</h4>
    {% render_table table_performance_samples %}
    </section>
{% endblock %}
