{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ pgs_id }} / {{ score.trait_reported }} (Polygenic Score){% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
        <li class="breadcrumb-item"><a href="/browse/scores/">Polygenic Scores</a></li>
        <li class="breadcrumb-item">{{ pgs_id }}</li>
      </ol>
    </nav>


    <section>
      <div class="clearfix">
        <div class="float_left mb-3" style="margin-right:4rem">
          <h2>Polygenic Score (PGS) ID: <span class="pgs_title">{{score.id}}</span></h2>
          <table class="table table-bordered table_pgs_h mt-4">
            <tbody>
              <tr>
                <td class="table_title table_title_c font_16" colspan="2">Predicted Trait</td>
              </tr>
              <tr>
                <td>Reported Trait</td>
                <td><b>{{ score.trait_reported }}</b></td>
              </tr>
              <tr>
                <td>Mapped Trait(s)</td>
                <td>
                {% if efos|length == 1 %}
                  <span class="mr-2 font-bold">{{ efos.0.display_label|safe }}</span>
                  ({{ efos.0.display_ext_url|safe }})
                {% else %}
                  <ul class="mb-0">
                   {% for trait in efos %}
                    <li>
                      <span class="mr-2 font-bold">{{ trait.display_label|safe }}</span>
                      ({{ trait.display_ext_url|safe }})
                    </li>
                   {% endfor %}
                  </ul>
                {% endif %}
                </td>
              </tr>
              {% if score.trait_additional != '' and score.trait_additional != None %}
                <tr>
                  <td>Additional Trait Information</td>
                  <td>{{ score.trait_additional }}</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          {% if score.date_released %}
            <div><i class="fas fa-calendar-alt pgs_color_1"></i> Released in PGS Catalog: <b>{{ score.date_released }}</b></div>
          {% endif %}
        </div>

        <div class="float_left pgs_bordered_block_container">
          <a class="btn btn-pgs pgs_no_icon_link pgs_helptip mr-2 mb-2" href="{{ pgs_ftp_http_root }}/scores/{{ score.id }}/ScoringFiles/"
            title="Variants and weights data file for {{ score.id }}">
            <span class="fas fa-download"></span> Download Score
          </a>
          <a class="btn btn-pgs pgs_no_icon_link pgs_helptip pgs-ftp-btn mb-2" href="{{ pgs_ftp_http_root }}/scores/{{ score.id }}/"
            title="Score and metadata files for {{ score.id }}">
            <span class="fas fa-folder"></span> FTP directory
          </a>
          <div class="mt-2">
            <i class="fas fa-info-circle pgs_color_1"></i>
            <a class="toggle_btn" data-toggle="tooltip" data-placement="right" data-delay="500" id="license_score" title="Click to show/hide the license for this score">Terms and Licenses <i class="fas {{ score.has_default_license|yesno:'fa-plus-circle,fa-minus-circle' }}"></i></a>
            <div class="toggle_list mt-2 licence_container" id="list_license_score" style="{{ score.has_default_license|yesno:',display:block' }}">
              <div class="pgs_note pgs_note_1">
                <div>
                  <span></span>{{ score.license }}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section>
        <h3 class="mb-0">Score Details</h3>
        {% if score_disclaimer %}
          {{ score_disclaimer|safe }}
        {% endif %}
        <div class="row">
            <div class="col">
                <table class="table table-bordered table_pgs_h mt-4">
                    <tbody>
                        <tr>
                          <td class="table_title table_title_g" colspan="2">Score Construction</td>
                        </tr>
                        <tr>
                          <td>PGS Name</td>
                          <td><b>{{ score.name }}</b></td>
                        </tr>
                        <tr>
                          <td class="table_subtitle" colspan="2">Development Method</td>
                        </tr>
                        <tr>
                          <td>Name</td>
                          <td>{{ score.method_name }}</td>
                        </tr>
                        <tr>
                          <td>Parameters</td>
                          <td id="pgs_params">
                            {% if score.method_params %}
                              {{ score.method_params }}
                            {% else %}
                              NR
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td class="table_subtitle" colspan="2">Variants</td>
                        </tr>
                        <tr>
                          <td>Original Genome Build</td>
                          <td><b>{{ score.variants_genomebuild }}</b></td>
                        </tr>
                        <tr>
                          <td>Number of Variants</td>
                          <td><span class="badge badge-pill badge-pgs">{{ num_variants_pretty }}</span></td>
                        </tr>
                        {% if score.variants_interactions > 0 %}
                          <tr>
                            <td>Number of Variant Interaction Terms</td>
                            <td><span class="badge badge-pill badge-pgs-2">{{ score.variants_interactions }}</span></td>
                          </tr>
                        {% endif %}
                        <tr>
                          <td>Effect Weight Type<span class="info-icon-small" data-toggle="tooltip" data-placement="right" title="Variant effect weight type, e.g. 'beta', 'OR/HR'"><i class="fas fa-info-circle"></i></td>
                          <td><b>{{ score.weight_type }}</b></td>
                        </tr>
                     </tbody>
                </table>
            </div>

            <div class="col">
              <table class="table table-bordered table_pgs_h mt-4">
                <tbody>
                  <tr>
                    <td class="table_title table_title_g" colspan="2">PGS Source</td>
                  </tr>
                  <tr>
                    <td>PGS Catalog Publication (PGP) ID</td>
                    <td><a href=/publication/{{ score.publication.id }}>{{ score.publication.id }}</a></td>
                  </tr>

                  <tr>
                    <td>Citation (<i>link to publication</i>)</td>
                    <td>
                      {{ citation }}
                      {% if score.publication.is_preprint %}
                        <span class="badge badge-pgs-small-2 ml-1" data-toggle="tooltip" title="Preprint (manuscript has not undergone peer review)">Preprint</span>
                      {% endif %}
                    </td>
                  </tr>

                </tbody>
              </table>

              <table class="table table-bordered table_pgs_h mt-4">
                <tbody>
                  <tr>
                    <td class="table_title table_title_g" colspan="2">Ancestry Distribution <a class="pgs_no_icon_link info-icon" target="_blank" href="/docs/ancestry/#anc_dist" data-toggle="tooltip" data-placement="bottom" title="Click on this icon to see information about the Ancestry Distribution (open in a new tab)"><i class="fas fa-info-circle"></i></a></td>
                  </tr>
                  {{ score.display_ancestry_html|safe }}
                 </tbody>
               </table>
            </div>
        </div>
      </section>

      <section>
        <h4>Development Samples</h4>
        {% if table_sample_variants or table_sample_training %}
            {% if table_sample_variants %}
                <h5>
                  <span>Source of Variant Associations (GWAS)</span><span class="info-icon-title" data-toggle="tooltip" data-placement="right" title="{{ pgs_table_helper.score_variant }}"><i class="fas fa-info-circle"></i></span>
                </h5>
                {% render_table table_sample_variants %}
            {% endif %}
            {% if table_sample_training %}
                <h5>
                  <span>Score Development/Training</span><span class="info-icon-title" data-toggle="tooltip" data-placement="right" title="{{ pgs_table_helper.score_training }}"><i class="fas fa-info-circle"></i></span>
                </h5>
                {% render_table table_sample_training %}
            {% endif %}
        {% else %}
            No sample information available.
        {% endif %}
    </section>

    <section>
        <h3 class="mb-0">
          <span>Performance Metrics</span><span class="info-icon-title" data-toggle="tooltip" data-placement="right" title="{{ pgs_table_helper.score_perf_metrics }}"><i class="fas fa-info-circle"></i></span>
        </h3>
        <p>{{ performance_disclaimer|safe }}</p>
        {% render_table table_performance %}
        <h4>
          <span>Evaluated Samples</span><span class="info-icon-title" data-toggle="tooltip" data-placement="right" title="{{ pgs_table_helper.sample_sets }}"><i class="fas fa-info-circle"></i></span>
        </h4>
        {% render_table table_performance_samples %}
    </section>
{% endblock %}
