{% extends 'catalog/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ pgs_id }} / {{ score.trait_reported }} (Polygenic Score){% endblock %}

{% block content %}
    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
        <li class="breadcrumb-item"><a href="/browse/all/">Polygenic Scores</a></li>
        <li class="breadcrumb-item">{{ pgs_id }}</li>
      </ol>
    </nav>

    <div class="clearfix">
      <h2 class="pgs_title_left">Polygenic Score (PGS) ID: <span class="pgs_title">{{score.id}}</span></h2>
      <div class="float_left">
        <a class="btn btn-pgs pgs_no_icon_link pgs_helptip mr-2 mb-3" href="{{ score.ftp_scoring_file }}"
          title="Variants and weights data file for {{ score.id }}" download>
          <span class="fa fa-download"></span> Download Score
        </a>
        <a class="btn btn-pgs pgs_no_icon_link pgs_helptip pgs-ftp-btn mb-3" target="_blank" href="{{ pgs_ftp_http_root }}/scores/{{ score.id }}/"
          title="Score and metadata files for {{ score.id }}">
          <span class="fa fa-folder"></span> FTP directory
        </a>
      </div>
    </div>

    <section>
      <table class="table table-bordered table_pgs_h mt-4">
        <tbody>
          <tr>
            <td class="table_title table_title_c font_16" colspan="2">Predicted Trait</td>
          </tr>
          <tr>
            <td>Reported Trait</td>
            <td><b>{{ score.trait_reported }}</b></td>
          </tr>
          <tr>
            <td>Mapped Trait(s)</td>
            <td>
             {% if efos|length == 1 %}
              <a class="mr-2" href="/trait/{{ efos.0.id }}"><b>{{ efos.0.label }}</b></a>
              (<a href="{{ efos.0.url }}">{{ efos.0.id }}</a>)
             {% else %}
              <ul class="mb-0">
               {% for trait in efos %}
                <li>
                 <a class="mr-2" href="/trait/{{ trait.id }}"><b>{{ trait.label }}</b></a>
                 (<a href="{{ trait.url }}">{{ trait.id }}</a>)
                </li>
               {% endfor %}
              </ul>
             {% endif %}
            </td>
          </tr>
          {% if score.trait_additional != '' and score.trait_additional != None %}
            <tr>
              <td>Additional Trait Information</td>
              <td>{{ score.trait_additional }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% if score.date_released %}
        <div><i class="fa fa-calendar pgs_color_1"></i> Released in PGS: <b>{{ score.date_released }}</b></div>
      {% endif %}
    </section>

    <section>
        <h3 class="mb-0">Score Details</h3>
        {% if score_disclaimer %}
          {{ score_disclaimer|safe }}
        {% endif %}
        <div class="row">
            <div class="col">
                <table class="table table-bordered table_pgs_h mt-4">
                    <tbody>
                        <tr>
                          <td class="table_title table_title_g" colspan="2">Score Construction</td>
                        </tr>
                        <tr>
                          <td>PGS Name</td>
                          <td><b>{{ score.name }}</b></td>
                        </tr>
                        <tr>
                          <td class="table_subtitle" colspan="2">Variants</td>
                        </tr>
                        <tr>
                          <td>Original Genome Build</td>
                          <td><b>{{ score.variants_genomebuild }}</b></td>
                        </tr>
                        <tr>
                          <td>Number of Variants</td>
                          <td><span class="badge badge-pill badge-pgs">{{ num_variants_pretty }}</span></td>
                        </tr>
                        {% if score.variants_interactions > 0 %}
                          <tr>
                            <td>Number of Variant Interaction Terms</td>
                            <td><span class="badge badge-pill badge-pgs-2">{{ score.variants_interactions }}</span></td>
                          </tr>
                        {% endif %}
                        <tr>
                          <td class="table_subtitle" colspan="2">Development Method</td>
                        </tr>
                        <tr>
                          <td>Name</td>
                          <td>{{ score.method_name }}</td>
                        </tr>
                        <tr>
                          <td>Parameters</td>
                          <td id="pgs_params">
                            {% if score.method_params %}
                              {{ score.method_params }}
                            {% else %}
                              NR
                            {% endif %}
                          </td>
                        </tr>
                     </tbody>
                </table>
            </div>

            <div class="col">
              <table class="table table-bordered table_pgs_h mt-4">
                <tbody>
                  <tr>
                    <td class="table_title table_title_g" colspan="2">PGS Source</td>
                  </tr>
                  <tr>
                    <td>PGS Catalog Publication (PGP) ID</td>
                    <td><a href=/publication/{{ score.publication.id }}>{{ score.publication.id }}</a></td>
                  </tr>

                  <tr>
                    <td>Citation (<i>link to publication</i>)</td>
                    <td>
                      {{ citation }}
                      {% if score.publication.is_preprint %}
                        <span class="badge badge-pgs-small-2 ml-1" data-toggle="tooltip" title="Preprint (manuscript has not undergone peer review)">Preprint</span>
                      {% endif %}
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
        </div>

        <h4>Contributing Samples</h4>
        {% if table_sample_variants or table_sample_training %}
            {% if table_sample_variants %}
                <h5>Source of Variant Associations (GWAS)</h5>
                {% render_table table_sample_variants %}
            {% endif %}
            {% if table_sample_training %}
                <h5>Score Development/Training</h5>
                {% render_table table_sample_training %}
            {% endif %}
        {% else %}
            No sample information available.
        {% endif %}
    </section>

    <section>
        <h3 class="mb-0">Performance Metrics</h3>
        <p>{{ performance_disclaimer|safe }}</p>
        {% render_table table_performance %}
        <h4>Evaluated Samples</h4>
        {% render_table table_performance_samples %}
    </section>
{% endblock %}
