{% extends 'catalog/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %}Polygenic Score Sample Set{% endblock %}

{% block content %}
    <script type="text/javascript">
      function ready(callback){
          // in case the document is already rendered
          if (document.readyState!='loading') callback();
          // modern browsers
          else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
          // IE <= 8
          else document.attachEvent('onreadystatechange', function(){
              if (document.readyState=='complete') callback();
          });
      }
    </script>

    <nav aria-label="You are here:">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">PGS Catalog</a></li>
        <li class="breadcrumb-item"><a href="/browse/sample_set/">Sample Set</a></li>
        <li class="breadcrumb-item"> {{ pss_id }} </li>
      </ol>
    </nav>

    <h2 class="mb-3">PGS Sample Set (PSS): <span class="pgs_title">{{ pss_id }}</span></h2>

    {% if sample_count|length > 1 %}
      <div class="content_container">
        <div class="table-of-contents">
          <nav role="navigation">
            <h5>Sample count: {{ sample_count|length }}</h5>
            <ul>
              {% for i in sample_count %}
                <li><a href="#sample_{{ forloop.counter }}">Sample #{{ forloop.counter }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}

    {% for sample, table_cohort in sample_set_data %}
      {% if sample_count|length > 1 %}
        <h3 class="sample_sub_section" id="sample_{{ forloop.counter }}">Sample #{{ forloop.counter }}</h3>
      {% endif %}
      <section>
        <table class="table table-bordered table_pgs_h">
          <tbody>
            <tr>
              <td>Phenotype</td>
              <td><b>{{ sample.phenotyping_free }}</b></td>
            </tr>
            <tr>
              <td>Sample Ancestry</td>
              <td><b>{{ sample.display_ancestry_inline|safe }}</b></td>
            </tr>
            {% if sample.ancestry_additional %}
              <tr>
                <td>Additional Ancestry Description</td>
                <td>{{ sample.ancestry_additional }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>

        <!-- Sample Numbers -->
      {% if sample_count|length > 1 %}
        <h4 class="mb-3">Sample Numbers</h4>
      {% else %}
        <h3 class="mb-3">Sample Numbers</h3>
      {% endif %}
        <div class="clearfix">
          <div class="float_left mr-5">
            <table class="table table-bordered table_pgs_h">
              <tbody>
                <tr>
                  <td>Total number</td>
                  <td><div class="sample_individuals"><b>{{ sample.display_sample_number_total }}</b></div></td>
                </tr>
                {% if sample.display_sample_number_detail|length > 0 %}
                  <tr>
                    <td>Detailed numbers</td>
                    <td>
                      {% for numbers in sample.display_sample_number_detail %}
                        {{ numbers|safe }}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
                {% if sample.followup_time %}
                  <tr>
                    <td>Participant Follow-up Time</td>
                    <td>
                      {{ sample.followup_time.display_value|safe }}
                    </td>
                  </tr>
                {% endif %}
                {% if sample.sample_age %}
                  <tr>
                    <td>Age of Study Participants</td>
                    <td>
                      {{ sample.sample_age.display_value|safe }}
                    </td>
                  </tr>
                {% endif %}
                {% if sample.list_cohortids|length > 0 %}
                  <tr>
                    <td>Number of Cohort(s)</td>
                    <td>
                      <b>{{ sample.list_cohortids|length }}</b>
                      {% if sample_count|length > 1 %}
                        <a class="toggle_btn pgs_no_icon_link" data-toggle="tooltip" data-placement="bottom" id="cohort_{{ forloop.counter }}" title="Click to show/hide the cohort table"><i class="fas fa-plus-circle"></i></a>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        {% if sample.display_sample_category_number.0|length > 0 %}
          <!-- Sample distribution -->
          <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
              var data_chart = {{ sample.display_sample_category_number|safe }};
              var pgs_samples_piechart = new PGSPieChartSmall('sample_piechart_{{ forloop.counter }}',data_chart,200,140,65,'sample');
              pgs_samples_piechart.draw_piechart();
              pgs_samples_piechart.draw_legend();
            });
          </script>
          <div class="sample_piechart_container mr-5">
            <div>Sample distribution</div>
            <div>
              <svg id="sample_piechart_{{ forloop.counter }}"></svg>
            </div>
          </div>
        {% endif %}
        {% if sample.display_sample_gender_percentage.0|length > 0 %}
          <!-- Sample gender distribution -->
          <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
              var data_chart = {{ sample.display_sample_gender_percentage|safe }};
              var pgs_samples_piechart = new PGSPieChartSmall('sample_piechart_gender_{{ forloop.counter }}',data_chart,200,140,65,'gender');
              pgs_samples_piechart.draw_piechart();
              pgs_samples_piechart.draw_legend();
            });
          </script>
          <div class="sample_piechart_container">
            <div>Sample gender distribution</div>
            <div>
              <svg id="sample_piechart_gender_{{ forloop.counter }}" width="200" height="150"></svg>
            </div>
          </div>
        {% endif %}
        </div>
      </section>

      <section>
        {% if table_cohort != '' %}
          {% if sample_count|length > 1 %}
            <div class="toggle_list" id="list_cohort_{{ forloop.counter }}">
              <h4>Cohort(s)</h4>
              <div>
                {% render_table table_cohort %}
              </div>
            </div>
          {% else %}
            <h3>Cohort(s)</h3>
            <div>
              {% render_table table_cohort %}
            </div>
          {% endif %}
        {% endif %}
        {% if sample.cohorts_additional %}
          {% if sample_count|length > 1 %}
            <h4>Additional information</h4>
          {% else %}
            <h3>Additional information</h3>
          {% endif %}
          <p>{{ sample.cohorts_additional }}</p>
        {% endif %}
      </section>
    {% endfor %}
{% endblock %}
