name: Django CI

on:
  push:
    branches:
      - master
  pull_request:
    types:  [opened, edited, reopened]

env:
  DEBUG: False
  ALLOWED_HOSTS: 'localhost'
  PGS_LIVE_SITE: 'False'
  PGS_CURATION_SITE: 'True'
  DATABASE_NAME: 'db_test'
  DATABASE_USER: 'postgres'
  DATABASE_PASSWORD: 'postgres'
  DATABASE_HOST: 'localhost'
  DATABASE_PORT: 5433
  DATABASE_PORT_LOCAL: 5433
  DATABASE_NAME_2: 'db_test_benchmark'
  DATABASE_USER_2: 'postgres'
  DATABASE_PASSWORD_2: 'postgres'
  DATABASE_HOST_2: 'localhost'
  DATABASE_PORT_2: 5433
  DATABASE_PORT_LOCAL_2: 5433
  DATABASE_NAME_TRACKER: 'db_test_curation_tracker'
  DATABASE_USER_TRACKER: 'postgres'
  DATABASE_PASSWORD_TRACKER: 'postgres'
  DATABASE_HOST_TRACKER: 'localhost'
  DATABASE_PORT_TRACKER: 5433
  DATABASE_PORT_LOCAL_TRACKER: 5433
  REST_URL_ROOT: 'http://127.0.0.1/rest/'
  ELASTICSEARCH_URL_ROOT: 'http://localhost:9201'
  SECRET_KEY: 1234

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: db_test
        ports:
          - 5433:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.15.0
        env:
          discovery.type: single-node
          xpack.security.enabled: "false"
          ES_JAVA_OPTS: "-Xms512m -Xmx512m"
        ports:
          - 9201:9200
        options: >-
          --health-cmd="curl -s http://localhost:9200/_cluster/health | grep -E '\"status\":\"(yellow|green)\"' || exit 1"
          --health-interval=15s
          --health-timeout=10s
          --health-retries=20

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_local.txt
        pip install requests
        pip install xlrd openpyxl numpy

    - name: Run migrations
      run: python manage.py migrate

    - name: Run Tests
      run: python manage.py test catalog/tests curation/tests rest_api/tests
